<% var title = 'Tesco Clubcard Responsive Wireframes' %>
<% var body_class = 'style-guide' %>
<% include templates/_head %>

<div class="container">
  <h1>Responsive Wireframes</h1>

  <h2>CSS splitters to demonstrate layout</h2>
  <div class="text-box"> 
    <p class="common">This text will be grey by default</p>
    <p class="mobile">This will be blue for mobile</p>
    <p class="tablet">This will be red for tablet</p>
    <p class="desktop">This will be green for desktop</p>
  </div>
</div>

<% include templates/_foot %>