.payment-discount{
  height:auto;
  width:auto;
  display: block;
  @include clearfix;
  padding: $padding 0 $padding 0;
  .discount-form{
    label {
      padding-top:4px;
    }
  }
  .control-group{
    float:left;
    .controls{
      float:left;
    }
    .txt{
    margin-right:10px;
    }
  }
  .controls .submit, .controls .txt{
    float:left;
  }

}