<% var title = 'Accordions' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->
  
  <div class="component-container">

    <div class="primary-content" id="pri1">
      <div class="primary-content-group">
        <h2 class="primary-content-heading">
          Summer Clubcard Exchange
        </h2>
        <div class="primary-content-body">
          <div class="primary-content-inner">
            <div class="content-container">
              <p>Minimum exchange value of &#163;5 applies - see in store for details or www.tesco.com/exchange/terms. Clubcard vouchers can be exchanged online or at most Tesco stores except Express, subject to availability. Clubcard vouchers can only be exchanged for Exchange tokens from 09:00 13th May 2013 to 23:59 2nd July 2013 inclusive. Exchange tokens have no cash value, no change given, are valid until 23:59 on 11th July 2013 and must be used in conjunction with your Clubcard.</p>  
              <p>If your Clubcard voucher exceeds the amount you wish to Exchange, any change will be credited back to your Clubcard account in points and carried over to your next statement. Each Exchange token can be used once only in the selected department, exclusions may apply. Check availability of products first to avoid disappointment. More than one Exchange token can be used in a single transaction, however the total cost of the products purchased, including any discounts, must equal or exceed the value of the Exchange tokens used. You must pay the remaining balance using a valid payment method. Delivery charges may apply. Excludes sellers on Tesco direct.</p>
              <p>Exchange eCoupons for Clothing cannot be used in conjunction with other eCoupons. Exchange eCoupons for Tesco direct cannot be used in conjunction with other eCoupon codes starting TDX- or TDXR- or redeemed against seller products.</p>  
              <p>If you print your Exchange tokens at home, please ensure your Exchange tokens have printed clearly on white paper, before taking them into store. Unfortunately, smudged or unclear barcodes are unable to be scanned at the till.  If you have a damaged token, please visit your nearest participating store for help. </p> 
              <p>Exchange tokens cannot be exchanged back into points or into cash or for another department.</p> 
              <p>Items purchased with an Exchange token can only be exchanged, with a receipt, for goods in the same category to the same value.   Any refunds for purchases made using Exchange tokens will be equivalent to the Clubcard voucher value originally exchanged. Your statutory rights are not affected.</p>  
              <p>Tesco reserves the right to withdraw The Clubcard Voucher Exchange at any time.</p>  
              <p>Clubcard Terms &amp; Conditions apply. The Clubcard helpline is on <strong class="tel">0800 591 688</strong> (Free from BT landlines. Other providers may charge. Calls may be recorded).</p>
            </div>

            <div class="secondary-content" id="sec1">
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  ClubcardExchange Twitter Wall Terms &amp; Conditions
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <p>We're giving our Twitter community the chance for their tweets using #clubcardexchange to appear on our Summer Exchange Twitter wall on the Clubcard website, at www.tesco.com/exchange.</p>
                      <ol>
                        <li>To take part users should;
                          <ul>
                            <li>Tweet @TescoClubcardUK about the Clubcard Exchange.</li>
                            <li>Include the #ClubcardExchange hashtag in their tweet.</li> 
                          </ul>
                        </li>
                        <li>By tweeting a photo or a message to @TescoClubcardUK with the hashtag #ClubcardExchange, entrants fully accept that Tesco may share the photo(s) or tweet(s) and username on the Tesco Clubcard website on the Exchange Twitter wall.</li>

                        <li>Remember any information you share becomes public information so we encourage you to tweet with caution and avoid disclosing your personal or financial information. Tesco cannot prevent such information from being used in a manner that may violate this Privacy Statement, the law, or your personal privacy and safety and is not responsible for the consequences of such postings.</li>

                        <li>User Participation – Tesco does not review all communications and materials posted to Twitter or shown on our site and is not responsible for the content of these messaging or communications. You acknowledge that Tesco is acting as a passive conduit for distribution of these communications and is not undertaking any obligation or liability relating to any contents or activities. Tesco reserves the right however to not publish a user's tweet or photo to the Clubcard Twitter wall on the Clubcard website at www.tesco.com/exchange if it is determined to be (a) abusive, defamatory, or obscene, (b) fraudulent, deceptive, or misleading, (c) in violation of a copyright, trademark or; other intellectual property right of another or (d) violates any law or regulation or (e) offensive or otherwise unacceptable to Tesco at its sole discretion. Note that any personally identifiable information you may post or transmit will be treated by Tesco as outlined here in our Privacy &amp; Cookies policy</li>

                        <li>To request removal of a tweet or to request your tweet is not featured on our website, you can direct message @TescoClubcardUK</li>

                        <li>There are no prizes or cash alternatives.</li> 

                        <li>The entry instructions form part of the rules. By entering, you agree to accept and be bound by the rules.</li>

                        <li>Promoter: Tesco Stores Ltd., Tesco House, Delamare Road, Cheshunt EN8 9SL.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="primary-content-group">
        <h2 class="primary-content-heading">
          Clubcard - terms and conditions
        </h2>
        <div class="primary-content-body">
          <div class="primary-content-inner">
            <div class="content-container">
              <p>The Clubcard Terms &amp; Conditions are listed below. If you have any questions about these Clubcard Terms &amp; Conditions please Contact Us.   If you need any help understanding any part of this website, please view our Help &amp; FAQs or call 0800 59 16 88.</p> 
            </div>
            <div class="secondary-content" id="sec2">
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  The Scheme
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Points
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Accordions</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>Used to present large blocks of content or on the mobile view where content works better condensed.</p>
            <h4>Interactions</h4>
            <p>The accordions allow content to be collapsed inside a nested structure.</p>
            <h4>Layout modes</h4>
            <p>There is only a single layout mode for the standard content accordion.</p>
            <hr />
            <h3>CSS</h3>
            <p>Only common styles are loaded for this component.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/accordions.scss</p>
            <hr />
            <h3>Use of Javascript</h3>
            <p>The accordion functionality is provided by the Twitter Bootstrap framework. We have abstracted this implementation by creating a jquery plugin that only applies the accordion classnames when requested rather than placing classes straight into the HTML. This is to allow areas of the page to become accordions depending on layout mode: desktop, tablet and mobile. The standard content accordions are applied for all three layout modes. They require a unique ID to applied to function correctly.</p>
            <h4>Non-JS behaviour</h4>
            <p>Text items and headings will be displayed as fully expanded content areas within the page. </p>
            <p><em>see figure 1 below</em></p>
            <p class="styleguide-img">
              <img src="../img/styleguide/accordion.png" alt="non-javascript view of accordion layout">
            </p>
            <hr />
            <h3>Component variants</h3>
            <p>The accordions have two distinct styles: top level and nested items. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>