<% var title = 'Additional details' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Additional information for Avios</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="product-order-container">
    <div class="checkout-additional-details">
      <div class="checkout-heading">
        <h2>Additional product details</h2>
        <p>Some of the products you are ordering require additional information</p>
      </div>

      <div class="checkout-additional-items">
        <div class="checkout-additional-item-header">
          <div class="checkout-additional-description"><p>Item description</p></div>
          <div class="checkout-additional-information"><p>Additional information</p></div>
        </div>
        <div class="checkout-additional-item">
          <div class="checkout-additional-description">
            <p class="checkout-additional-title">Avios</p>
            <p class="checkout-addtional-details">
              600 points
            </p>
          </div>
          <div class="checkout-additional-information">
            <div class="control-group">
              <label for="additional-item">Flying club membership number</label>
              <input class="txt" type="text" placeholder="Enter your membership number" id="additional-item" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Additional information with multiple items</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->

  <div class="product-order-container">
    <div class="checkout-additional-details">
      <div class="checkout-heading">
        <h2>Additional product details</h2>
        <p>Some of the products you are ordering require additional information</p>
      </div>

      <div class="checkout-additional-items">
        <div class="checkout-additional-item-header">
          <div class="checkout-additional-description"><p>Item description</p></div>
          <div class="checkout-additional-information"><p>Additional information</p></div>
        </div>
        <div class="checkout-additional-item">
          <div class="checkout-additional-description">
            <p class="checkout-additional-title">Avios</p>
            <p class="checkout-addtional-details">
              600 points
            </p>
          </div>
          <div class="checkout-additional-information">
            <div class="control-group">
              <label for="additional-item2a">Flying club membership number</label>
              <input class="txt" type="text" placeholder="Enter your membership number" id="additional-item2a" />
            </div>
          </div>
        </div>
        <div class="checkout-additional-item">
          <div class="checkout-additional-description">
            <p class="checkout-additional-title">Starbucks</p>
            <p class="checkout-addtional-details">
              Free meal deal
            </p>
          </div>
          <div class="checkout-additional-information">
            <div class="control-group">
              <label for="additional-item2b">My Starbucks Rewards Number</label>
              <input class="txt" type="text" placeholder="Enter your rewards number" id="additional-item2b" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Additional information with error returned</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="product-order-container">
    <div class="checkout-additional-details">
      <div class="checkout-heading">
        <h2>Additional product details</h2>
        <p>Some of the products you are ordering require additional information</p>
   
      </div>

      <div class="checkout-additional-items">

        <div class="checkout-additional-item-header">
          <div class="checkout-additional-description"><p>Item description</p></div>
          <div class="checkout-additional-information"><p>Additional information</p></div>
        </div>
        <div class="checkout-additional-item">
          <div class="error-message">
            <p>Error message encountered when submitting form and additional information is incorrectly entered</p>
          </div>
          <div class="checkout-additional-description">
            <p class="checkout-additional-title">Avios</p>
            <p class="checkout-addtional-details">
              600 points
            </p>
          </div>
          <div class="checkout-additional-information">
            <div class="control-group">
              <label for="additional-item3">Flying club membership number</label>
              <input class="txt" type="text" placeholder="Enter your membership number" id="additional-item3" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sample code ends -->


  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Additional information with multiple item errors</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->

  <div class="product-order-container">
    <div class="checkout-additional-details">
      <div class="checkout-heading">
        <h2>Additional product details</h2>
        <p>Some of the products you are ordering require additional information</p>
      </div>

      <div class="checkout-additional-items">
        <div class="checkout-additional-item-header">
          <div class="checkout-additional-description"><p>Item description</p></div>
          <div class="checkout-additional-information"><p>Additional information</p></div>
        </div>
        <div class="checkout-additional-item">
            <div class="error-message">
          <p>Error message encountered when submitting form and additional information is incorrectly entered</p>
        </div>
          <div class="checkout-additional-description">
            <p class="checkout-additional-title">Avios</p>
            <p class="checkout-addtional-details">
              600 points
            </p>
          </div>
          <div class="checkout-additional-information">
            <div class="control-group">
              <label for="additional-item4a">Flying club membership number</label>
              <input class="txt" type="text" placeholder="Enter your membership number" id="additional-item4a" />
            </div>
          </div>
        </div>
        <div class="checkout-additional-item">
            <div class="error-message">
          <p>Error message encountered when submitting form and additional information is incorrectly entered</p>
        </div>
          <div class="checkout-additional-description">
            <p class="checkout-additional-title">Starbucks</p>
            <p class="checkout-addtional-details">
              Free meal deal
            </p>
          </div>
          <div class="checkout-additional-information">
            <div class="control-group">
              <label for="additional-item4b">My Starbucks Rewards Number</label>
              <input class="txt" type="text" placeholder="Enter your rewards number" id="additional-item4b" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sample code ends -->


</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Additional details - checkout</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>Displayed when products require further information before they can be purchased.</p>
            <h4>Interactions</h4>
            <p>A user can enter information into the form fields which is submitted when the user proceeds through the checkout.</p>
            <h4>Layout modes</h4>
            <p>There are two layout modes: desktop and mobile. Larger screens use a horizontal layout for information. Smaller screens stack content vertically and column headings are removed </p>
            <hr />
            <h3>CSS</h3>
            <h4>Media queries</h4>
            <p>We are using three breakpoints to handle the changes between desktop, tablet and mobile. Common styles are loaded for the component and then device specific styles are loaded in for each breakpoint into the appropriate stylesheet.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/checkout-pages.scss</p>
            <p>/large-components/checkout-pages.scss</p>
            <p>/tablet-components/checkout-pages.scss</p>
            <p>/small-components/checkout-pages.scss</p>
            <hr />
            <h3>Component variants</h3>
            <p>The variants show how the component would look with multiple items or if an error is encountered when a user tries to submit the form.</p>
            <hr />
            <h3>Accessibility</h3>
            <p>This component contains form elements. They require a label/input pair with a correctly populated unique for/id value. </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>