<% var title = 'Search auto-correct' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->

  <div class="row-fluid product-listing-display">
    <div class="facet-nav-container">

      <div class="facet-nav" >
        <form>
          <div class="facet-nav-heading">
            <p>Filter products</p>
          </div>
          <div class="facet-accordion" id="fac1">

            <div class="cat-facet facet">

              <h2 class="facet-heading">Categories</h2>

              <div class="facet-items">
                <ul class="facet-inner">

                  <li> 
                    <a href="">At tesco<span class="items">5</span></a> 
                  </li>
                  <li> 
                    <a href="">Fun <span class="items">58</span></a> 
                  </li>
                  <li> 
                    <a href="">Eating out <span class="items">369</span></a> 
                  </li>
                  <li> 
                    <a href="">Travel <span class="items">369</span></a> 
                  </li>
                  <li> 
                    <a href="">Home essentials <span class="items">369</span></a> 
                  </li>
                  <li> 
                    <a href="">Lifestyle <span class="items">369</span></a> 
                  </li>

                </ul>
              </div>
            </div>
          </div>  
          <input class="submit btn clear-filter-btn" type="reset" value="Clear all filters"/>
          <input class="submit btn apply-filter-btn" type="submit" value="Apply filters"/>
        </form>
        
      </div>
    </div>

    <div class="product-listing-container">


      <div class="product-listings" data-total-pages="5">
        <div class="search-term">
          <div class="thesaurus-result">
            <p>Search for 'pissa'</p>
            <p>We think you meant 'pizza'</p>
          </div>
        </div>
        <ul>
          <li class="listing-item">
            <div class="listing-img">
              <img class="listing-thumbnail" src="../img/content/places/abbotsbury-subtropical-gardens.gif" alt="Placeholder for product listing logo"/>
            </div>
            <div class="listing-details">
              <h3 class="listing-title"><a href="#">Abbotsbury Subtropical Gardens</a></h3>
              <p class="product-value">
                £10 money-off token
              </p>
              <div class="product-labels-container">

                <p class="spotlight"><span>Limited offer</span></p>
              </div>
              <p class="location"><a href="#">Abbotsbury</a></p>
            </div>
            <div class="product-value-container">
              <p class="product-value-vouchers">
                <span class="voucher-value">£2.50</span> in vouchers
              </p>
            </div>
          </li>
          <li class="listing-item">
            <div class="listing-img">
              <img class="listing-thumbnail" src="../img/content/places/abbotsbury-subtropical-gardens.gif" alt="Placeholder for product listing logo" />
            </div>
            <div class="listing-details">
              <h3 class="listing-title"><a href="#">Abbotsbury Subtropical Gardens</a></h3>
              <p class="product-value">
                £10 money-off token
              </p>
              <div class="product-labels-container">

                <p class="spotlight"><span>Limited offer</span></p>
              </div>
              <p class="location"><a href="#">Abbotsbury</a></p>

            </div>
            <div class="product-value-container">
              <p class="product-value-vouchers">
                <span class="voucher-value">£2.50</span> in vouchers
              </p>
            </div>
          </li>
          <li class="listing-item">
            <div class="listing-img">
              <img class="listing-thumbnail" src="../img/content/places/abbotsbury-subtropical-gardens.gif" alt="Placeholder for product listing logo" />
            </div>
            <div class="listing-details">
              <h3 class="listing-title"><a href="#">Abbotsbury Subtropical Gardens</a></h3>
              <p class="product-value">
                £10 money-off token
              </p>
              <div class="product-labels-container">

                <p class="spotlight"><span>Limited offer</span></p>
              </div>
              <p class="location"><a href="#">Abbotsbury</a></p>

            </div>
            <div class="product-value-container">
              <p class="product-value-vouchers">
                <span class="voucher-value">£2.50</span> in vouchers
              </p>
            </div>
          </li>
          <li class="listing-item">
            <div class="listing-img">
              <img class="listing-thumbnail" src="../img/content/places/abbotsbury-subtropical-gardens.gif" alt="Placeholder for product listing logo" />
            </div>
            <div class="listing-details">
              <h3 class="listing-title"><a href="#">Abbotsbury Subtropical Gardens</a></h3>
              <p class="product-value">
                £10 money-off token
              </p>
              <div class="product-labels-container">

                <p class="spotlight"><span>Limited offer</span></p>
              </div>
              <p class="location"><a href="#">Abbotsbury</a></p>

            </div>
            <div class="product-value-container">
              <p class="product-value-vouchers">
                <span class="voucher-value">£2.50</span> in vouchers
              </p>
            </div>
          </li>
          <li class="listing-item">
            <div class="listing-img">
              <img class="listing-thumbnail" src="../img/content/places/abbotsbury-subtropical-gardens.gif" alt="Placeholder for product listing logo" />
            </div>
            <div class="listing-details">
              <h3 class="listing-title"><a href="#">Abbotsbury Subtropical Gardens</a></h3>
              <p class="product-value">
                £10 money-off token
              </p>
              <div class="product-labels-container">

                <p class="spotlight"><span>Limited offer</span></p>
              </div>
              <p class="location"><a href="#">Abbotsbury</a></p>
            </div>
            <div class="product-value-container">
              <p class="product-value-vouchers">
                <span class="voucher-value">£2.50</span> in vouchers
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Search auto-correction</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>Where an incorrect term is entered but is known by Tesco auto-correction is used.</p>
            <hr />
            <h3>CSS</h3>
            <p>Only common styles are loaded for this component.</p>

            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/search-results.scss</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>