<% var title = 'Basket product item' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Basket product item</p>
      <hr />
    </div>
  </div>
  <!-- Sample code here -->
  <div class="basket-container">
    <div class="row-fluid">
      <div class="product-order-container basket-order-container">
        <div class="product-order">
          <div class="checkout-items">
            <div class="checkout-item-header">
              <div class="checkout-reward"><p>Item</p></div>
              <div class="checkout-amount"><p>Amount</p></div>
              <div class="checkout-price"><p>Cost</p></div>
            </div>
            <div class="checkout-item">
              <div class="checkout-reward">
                <a href="#"><img src="../img/content/plp-listing-placeholder.gif"  alt="placeholder for checkout item"/></a>
                <h3><a href="#">Abbotsbury Subtropical Gardens</a></h3>
                <p class="checkout-value">£20 money-off token</p>
                <p class="checkout-smallprint">Product code: A3010</p>
                <p class="checkout-smallprint">Delivery method: Post</p>
              </div>
              <div class="checkout-amount">
                <form method="post" action="#" class="update">
                  <div class="value-calculator">
                    <div class="inner">
                    <input type="hidden" name="product_id" value="A3010">
                    <label class="visuallyhidden" for="update">update amount</label>
                    <span class="pound">&pound;</span>
                    <input class="txt value" type="text" value="2.50" data-unit-value="2.50" data-step="2.50" data-min="2.50" id="update">
                    </div>
                    <button class="submit update-basket btn" type="submit" ><i></i> Update</button>
                  </div>  
                </form>
              </div>
              <div class="checkout-price">
                <p><span class="voucher-cost">Voucher cost: </span>£5.00</p>
                <p class="remove-item"><a href="">Remove</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Sample code ends -->


  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Basket product item with timer countdown</p>
      <hr />
    </div>
  </div>
  <!-- Sample code here -->
  <div class="basket-container">
    <div class="row-fluid">
      <div class="product-order-container basket-order-container">
        <div class="product-order">
          <div class="checkout-items">
            <div class="checkout-item-header">
              <div class="checkout-reward"><p>Item</p></div>
              <div class="checkout-amount"><p>Amount</p></div>
              <div class="checkout-price"><p>Cost</p></div>
            </div>
            <div class="checkout-item">
               
              <div class="checkout-reward">
                <a href="#"><img src="../img/content/plp-listing-placeholder.gif"  alt="placeholder for checkout item"/></a>
                <h3><a href="#">Abbotsbury Subtropical Gardens</a></h3>
                <p class="checkout-value">£20 money-off token</p>
                <p class="checkout-smallprint">Product code: A3010</p>
                <p class="checkout-smallprint">Delivery method: Post</p>
              </div>
              <div class="checkout-amount">
                <form method="post" action="#" class="update">
                  <div class="value-calculator">
                    <div class="inner">
                    <input type="hidden" name="product_id" value="A3010">
                    <label class="visuallyhidden" for="update1">update amount</label>
                    <span class="pound">&pound;</span>
                    <input class="txt value" type="text" value="2.50" data-unit-value="2.50" data-step="2.50" data-min="2.50" id="update1">
                    </div>
                    <button class="submit update-basket btn" type="submit" ><i></i> Update</button>
                  </div>  
                </form>
              </div>
              <div class="checkout-price">
                <p><span class="voucher-cost">Voucher cost: </span>£5.00</p>
                <p class="remove-item"><a href="">Remove</a></p>
              </div>


              <div class="checkout-timer">
                <div class="time-counter">
                  <p>Available for</p>
                  <div class="time-days time-item">
                    <span class="time-value">35</span>
                    <span class="time-descriptor">days,</span>
                  </div>
                  <div class="time-hours time-item">
                    <span class="time-value">10</span>
                    <span class="time-descriptor">hours,</span>
                  </div>
                  <div class="time-minutes time-item">
                    <span class="time-value">56</span>
                    <span class="time-descriptor">mins</span>
                  </div>
                </div>  
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Basket product item with stock countdown</p>
      <hr />
    </div>
  </div>
  <!-- Sample code here -->
  <div class="basket-container">
    <div class="row-fluid">
      <div class="product-order-container basket-order-container">
        <div class="product-order">
          <div class="checkout-items">
            <div class="checkout-item-header">
              <div class="checkout-reward"><p>Item</p></div>
              <div class="checkout-amount"><p>Amount</p></div>
              <div class="checkout-price"><p>Cost</p></div>
            </div>
            <div class="checkout-item">
              <div class="checkout-reward">
                <a href="#"><img src="../img/content/plp-listing-placeholder.gif"  alt="placeholder for checkout item"/></a>
                <h3><a href="#">Abbotsbury Subtropical Gardens</a></h3>
                <p class="checkout-value">£20 money-off token</p>
                <p class="checkout-smallprint">Product code: A3010</p>
                <p class="checkout-smallprint">Delivery method: Post</p>
              </div>
              <div class="checkout-amount">
                <form method="post" action="#" class="update">
                  <div class="value-calculator">
                    <div class="inner">
                    <input type="hidden" name="product_id" value="A3010">
                    <label class="visuallyhidden" for="update2">update amount</label>
                    <span class="pound">&pound;</span>
                    <input class="txt value" type="text" value="2.50" data-unit-value="2.50" data-step="2.50" data-min="2.50" id="update2">
                    </div>
                    <button class="submit update-basket btn" type="submit" ><i></i> Update</button>
                  </div>  
                </form>
              </div>
              <div class="checkout-price">
                <p><span class="voucher-cost">Voucher cost: </span>£5.00</p>
                <p class="remove-item"><a href="">Remove</a></p>
              </div>

              <div class="checkout-stock-count">
                <div class="stock-counter">
                  <p><span class="stock-quantity">2345</span>items left</p>
                  <div class="refresh">
                    <a href="" class="refresh-link">Refresh page</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Sample code ends -->

</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Basket Product item</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>Displays the product details and associated basket actions, such as, edit amount and remove.</p>
            <h4>Interactions</h4>
            <p>User's can amend their product quantity. Further details can be found in the <a href="amend-basket.html">amend basket component</a>.</p>
            <h4>Layout modes</h4>
            <p>There are three layout modes: desktop, tablet and mobile. Larger screens utilise a horizontal layout and allow room for the summary container. Smaller screens stack content areas vertically to allow a fluid stretching layout. The product image is also removed on the mobile layout to speed load times for the checkout. </p>
            <hr />
            <h3>CSS</h3>
            <h4>Media queries</h4>
            <p>We are using three breakpoints to handle the changes between desktop, tablet and mobile. Common styles are loaded for the component and then device specific styles are loaded in for each breakpoint into the appropriate stylesheet.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/checkout-pages.scss</p>
            <p>/common-components/checkout-items.scss</p>
            <p>/large-components/checkout-pages.scss</p>
            <p>/large-components/checkout-items.scss</p>
            <p>/tablet-components/checkout-pages.scss</p>
            <p>/tablet-components/checkout-items.scss</p>
            <p>/small-components/checkout-pages.scss</p>
            <p>/small-components/checkout-items.scss</p>
            <hr />
            <h3>Use of Javascript</h3>
            <p>The <a href="product-quantity.html">product quantity</a> component is used for the quantity control.</p>
            <h4>Use of AJAX</h4>
            <p>When the user clicks the 'Update' or 'Remove' actions an AJAX request is sent. It expects an HTML response containing the new basket state - see partials/ajax-basket.html for an example. The new basket HTML replaces the existing one on the page.</p>
            <h4>Non-JS behaviour</h4>
            <p>The forms and anchors must be linked to a server endpoint so they may be submitted and reload the complete page.</p>
            <hr />
            <h3>Component variants</h3>
            <p>There are three component variants shown. Products can have limited time or stock count available. This element is only updated on a page refresh. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>