<% var title = 'Category teasers' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Exchange and Rewards category teasers</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->

  <div class="component-container">
    <div class="category-teaser-container">

      <div class="category-teaser exchange">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-eating-out.jpg" alt="Placeholder for a category teaser image"/>
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">&ldquo;More, more, more&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser fun">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-eating-out.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Fun</span>
            <span class="teaser-sub-heading">&ldquo;Mum, you're alright you are!&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser eating">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-eating-out.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Eating out</span>
            <span class="teaser-sub-heading">&ldquo;Oooh, go on then&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser travel">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-eating-out.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Travel</span>
            <span class="teaser-sub-heading">&ldquo;Wish you were here?&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser home">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-eating-out.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Home &amp; Essentials</span>
            <span class="teaser-sub-heading">&ldquo;Bargains on basics&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser lifestyle">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-eating-out.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Lifestyle</span>
            <span class="teaser-sub-heading">&ldquo;I want one of those&rdquo;</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Basic in page teaser</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->

  <div class="component-container">
    <div class="category-teaser-container">

      <div class="category-teaser">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">&ldquo;More, more, more&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Fun</span>
            <span class="teaser-sub-heading">&ldquo;Mum, you're alright you are!&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg" alt="Placeholder for a category teaser image" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Eating out</span>
            <span class="teaser-sub-heading">&ldquo;Oooh, go on then&rdquo;</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Category teasers</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>A category teaser is used to spotlight content further within the site. They can be used for categories within the exchange and rewards landing page or elsewhere as standard teasers.</p>
            <h4>Interactions</h4>
            <p>There is a soft hover state on the teaser image and teasers contain a clickable area to form a large button link.</p>
            <h4>Layout modes</h4>
            <p>There are three layout modes: desktop, tablet and mobile. Larger screens have a 3 row layout. Multiple items above 3 will stack in rows underneath. Tablet screens stack items vertically in a fluid stretching format. Smaller screens display the individual teaser items in the same way as the larger screen but in a vertically stacked format.</p>
            <hr />
            <h3>CSS</h3>
            <h4>Media queries</h4>
            <p>We are using three breakpoints to handle the changes between desktop, tablet and mobile. Common styles are loaded for the component and then device specific styles are loaded in for each breakpoint into the appropriate stylesheet.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/category-teaser.scss</p>
            <p>/large-components/category-teaser.scss</p>
            <p>/tablet-components/category-teaser.scss</p>
            <p>/small-components/category-teaser.scss</p>
            <hr />
            <h3>Component variants</h3>
            <p>Teasers can either user the default Tesco blue as background or be colour coded to match the product category secondary colour palette.</p>
            <hr />
            <h3>Responsive Images</h3>
            <p>We are using the responsive masking technique on tablet to preserve the height of the object but reduce the width of the image in a fluid container. The mobile image needs to be as wide as the largest breakpoint (600px) so in this instance we do not recommend using WURFL to replace the image for mobile devices.</p>
            <p>Image dimensions: 560 × 435px</p>
             <p><em>see figure 1: Illustrating focal point of image</em></p>
            <p class="styleguide-img">
              <img src="../img/styleguide/category-teaser-focal-point-diagram.jpg" alt="focal point of category teaser">
            </p>
            <hr />
            <h3>Accessibility</h3>
            <p>All relevant text content should be included as text and should not appear in the imagery produced. Images should all contain relevant alt text. Links should contain useful supplementary title text</p>
            <hr />
            <h3>SEO implications</h3>
            <p>All relevant text content should be included as text and should not appear in the imagery produced. We would recommend placing keyword loaded teasers on the Homepage linking to significant pages in the user journey.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>