<% var title = 'Credit message' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->
<div class="payment-total">
  <div class="payment-total-item credit-total">
    <div class="payment-total-txt">
      <p>Change credited back to your account:&nbsp;<span class="payment-total-amount">£22.50</span></p>
    </div>
  </div>
</div>

  <!-- Sample code ends -->
</div>
<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Credit account - checkout</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>Displays when the user is credited 'money' from their purchase.</p>
            <h4>Interactions</h4>
            <p>N/a</p>
            <h4>Layout modes</h4>
            <p>N/a</p>
            <hr />
            <h3>CSS</h3>
            <p>N/a</p>
            <h4>Media queries</h4>
            <p>N/a</p>
            <h4>SASS Partials</h4>
            <p>N/a</p>
            <hr />
            <h3>Use of Javascript</h3>
            <p></p>
            <h4>Use of AJAX</h4>
            <p></p>
            <h4>Non-JS behaviour</h4>
            <p> </p>
            <hr />
            <h3>Component variants</h3>
            <p>N/a</p>
            <hr />
            <h3>Responsive Images</h3>
            <p>N/a</p>
            <hr />
            <h3>Accessibility</h3>
            <p>N/a</p>
            <hr />
            <h3>SEO implications</h3>
            <p>N/a</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>