<% var title = 'Checkout social icons' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->

  <div class="checkout-social">
    <div class="twitter-share">
      <a href="" class="twitter-link social-link">Twitter</a>
    </div>
    <div class="facebook-share">
      <a href="" class="facebook-link social-link">Facebook</a>
    </div>
  </div>

  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Checkout item social links</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>Allows the user an opportunity to share the product via social channels such as Facebook and Twitter.</p>
            <h4>Interactions</h4>
            <p>User can click either the Twitter or Facebook icons.</p>
            <h4>Layout modes</h4>
            <p>There is only a single layout mode for this component.</p>
            <hr />
            <h3>CSS</h3>
            
            <p>This component resides within the checkout product listing component and the column structure for the position is controlled by the checkout items partial. </p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/checkout-social.scss</p>
            <p>/large-components/checkout-items.scss</p>
            <p>/tablet-components/checkout-items.scss</p>
            <p>/small-components/checkout-items.scss</p>
            <hr />
            <h3>Use of Javascript</h3>
            <p>These plugins require a third party library to be written into the page via a JS link. The plugin will need to allow for configuration of the icon and the href value of the page to be shared. The page to be shared should be the product description page of the line item in question.</p>
            <h4>Non-JS behaviour</h4>
            <p>Links will not be written in to the page.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>