<% var title = 'Contact Us components' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->
          <div class="row-fluid">
            <div class="contact-panel">
              <div class="content-container">
                <h4>Contact Clubcard to:</h4>
                <ul class="content-list">
                  <li>
                    <a href="">Sign me up to My Clubcard</a>
                  </li>
                  <li>
                    <a href="">I want to manage my account</a>
                  </li>
                  <li>
                    <a href="">I've lost my card</a>
                  </li>
                  <li>
                    <a href="">See full FAQs here</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="contact-panel">
              <div class="content-container">
                <h4><i class="icon-email"></i>By Email</h4>
                <p>Complete our <a href="">contact form</a></p>
              </div>
            </div>
            <div class="contact-panel">
              <div class="content-container">
                <h4><i class="icon-post"></i>By Post</h4>
                <p>Please send your letter to:</p>
                <p>Tesco Clubcard<br />
                Freepost<br />
                Tesco Sco 3145<br />
                Dundee DD2 3ZR</p>
              </div>
            </div>
            <div class="contact-panel">
              <div class="content-container">
                <h4><i class="icon-phone"></i>By Phone</h4>
                <p><strong>080 591 688*</strong></p>
                <div class="opening-hours">
                <p>Lines are open</p>
                <p>Monday to Friday - 9am to 8pm</p>
                <p>Saturday - 9am to 6pm</p>
                <p>Sunday - Closed</p>

                <br />
                <p>* Free frm BT landlines. Other providers vary. Calls may be recorded.<p>
              </div>
              </div>
            </div>
          </div>

  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Contact us</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>Contact us blocks demonstrate how content areas can be used to present content with icons and differing typography. </p>
            <h4>Interactions</h4>
            <p>Users can click links within body copy.</p>
            <h4>Layout modes</h4>
            <p>There are two layout modes: desktop, and mobile. Larger screens utilise a horizontal layout to incorporate a four column layout. Smaller screens stack content areas vertically.</p>
            <hr />
            <h3>CSS</h3>
            <h4>Media queries</h4>
            <p>We are using three breakpoints to handle the changes between desktop, tablet and mobile. Common styles are loaded for the component and then device specific styles are loaded in for each breakpoint into the appropriate stylesheet.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/contact-page.scss</p>
            <p>/small-components/contact-page.scss</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>