<% var title = 'Delivery Method' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Delivery method - Post</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="product-spotlight-container row-fluid">
    <div class="product-spotlight-details">
      <p class="delivery post">Delivered to you by post <i class="post-icon"></i></p>
    </div>
  </div>
  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Delivery method - Online</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="product-spotlight-container row-fluid">
    <div class="product-spotlight-details">
      <p class="delivery email">Delivered to you by email <i class="email-icon"></i></p>
    </div>
  </div>
  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Delivery methood</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>The delivery method icons indicates how the customer will receive their product. </p>
            <hr />
            <h3>CSS</h3>
            <p>Only common styles are loaded for this component.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/product-spotlight.scss</p>
            <hr />
            <h3>Component variants</h3>
            <p>We have provided two examples for delivery method, online or by post. Alternative delivery methods will require the creation of new backgruond graphics.</p>
            <hr />
            <h3>Responsive Images</h3>
            <p>The icons are CSS background images. No retina images are supplied as part of this phase but could be incorporated at a later date. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %> 