<% var title = 'Department browser' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->

  <div class="component-container">
    <div class="department-browser-container" id="dep1">
      <div class="department-browser-item">
        <div class="department-browser-heading">
          <h2>Baby and Toddler</h2>
        </div>
        <div class="department-browser-body">
          <div class="department-browser-inner">
            <div class="row-fluid">
              <div class="department-details">
                <img src="../img/content/department-browser-01.jpg" class="department-thumbnail" alt="placeholder text for department image">
                <h3>Where to spend your Exchange tokens</h3>
                <div class="product-exchange row-fluid">
                  <div class="product-exchange-cta">
                    <a href="" class="product-exchange-btn"><span class="product-exchange-logo exchange-direct"></span><span class="product-exchange-txt">Tesco direct in store or online</span></a>
                    <a href="" class="product-exchange-btn" ><span class="product-exchange-logo exchange-instore"></span><span class="product-exchange-txt instore-txt">In store</span> </a>
                  </div>
                  <div class="product-exchange-call-out">
                    <img src="../img/content/department-logo.png" class='product-browser-logo call-out-img' alt="logo placeholder">
                    <a href="" class="call-out-link">Visit our Baby &amp; Toddler department</a>
                  </div>
                </div>
              </div>
              <div class="department-specifics">
                <div class="product-inclusions">
                  <h3>What's in?</h3>
                  <ul class="department-browser-list">
                    <li><span>Baby monitors</span></li>
                    <li><span>Baby toys</span></li>
                    <li><span>Baths</span></li>
                    <li><span>Bedding &amp; mattresses</span></li>
                    <li><span>Bedtime accessories</span></li>
                    <li><span>Booster seats</span></li>
                    <li><span>Bouncer &amp; swings</span></li>
                    <li><span>Breast pumps</span></li>
                    <li><span>Changing bags</span></li>
                    <li><span>Feeding accessories</span></li>
                    <li><span>High chairs</span></li>
                    <li><span>Infant carriers &amp; car seats</span></li>
                    <li><span>Moses baskets</span></li>
                    <li><span>Nursery furniture</span></li>
                    <li><span>Play mats &amp; gyms</span></li>
                    <li><span>Potties</span></li>
                    <li><span>Prams &amp; pushchairs</span></li>
                    <li><span>Safety gates</span></li>
                    <li><span>Sterilisers</span></li>
                    <li><span>Travel accessories</span></li>
                    <li><span>Walkers</span></li>
                  </ul>
                </div>
                <div class="product-exclusions">
                  <h3>What's Out?</h3>
                  <ul class="department-browser-list">
                    <li><span>All baby formula milk</span></li>
                    <li><span>Food and drinks</span></li>
                    <li><span>Nappies and wipes</span></li>
                    <li><span>Toiletries</span></li>
                    <li><span>Sellers at Tesco direct</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <div class="department-browser-item">
        <div class="department-browser-heading">
          <h2>Garden, Garden furniture and BBQs</h2>
        </div>
        <div class="department-browser-body">
          <div class="department-browser-inner">
            <div class="row-fluid">
              <div class="department-details">
                <img src="../img/content/department-browser-01.jpg" class="department-thumbnail" alt="placeholder text for department image">
                <h3>Where to spend your Exchange tokens</h3>
                <div class="product-exchange row-fluid">
                  <div class="product-exchange-cta">
                    <a href="" class="product-exchange-btn"><span class="product-exchange-logo exchange-direct"></span><span class="product-exchange-txt">Tesco direct in store or online</span></a>
                    <a href="" class="product-exchange-btn" ><span class="product-exchange-logo exchange-instore"></span><span class="product-exchange-txt instore-txt">In store</span> </a>
                  </div>
                  <div class="product-exchange-call-out">
                    <img src="../img/content/department-logo.png" class='product-browser-logo call-out-img' alt="logo placeholder">
                    <a href="" class="call-out-link">Visit our Baby &amp; Toddler department</a>
                  </div>
                </div>
              </div>
              <div class="department-specifics">
                <div class="product-inclusions">
                  <h3>What's in?</h3>
                  <ul class="department-browser-list">
                    <li><span>Lorem ipsum dolor</span></li>
                    <li><span>sit amet, consectetur adipisicing elit</span></li>
                    <li><span>Consectetur adipisicing elit</span></li>
                    <li><span>Sed do eiusmod tempor incididunt ut labore</span></li>
                    <li><span>2Lorem ipsum dolor</span></li>
                    <li><span>2sit amet, consectetur adipisicing elit</span></li>
                    <li><span>2Consectetur adipisicing elit</span></li>
                    <li><span>2Sed do eiusmod tempor incididunt ut labore</span></li>
                    <li><span>3Lorem ipsum dolor</span></li>
                    <li><span>3sit amet, consectetur adipisicing elit</span></li>
                    <li><span>3Consectetur adipisicing elit</span></li>
                    <li><span>3Sed do eiusmod tempor incididunt ut labore</span></li>
                    <li><span>4Lorem ipsum dolor</span></li>
                    <li><span>4sit amet, consectetur adipisicing elit</span></li>
                    <li><span>4Consectetur adipisicing elit</span></li>
                    <li><span>4Sed do eiusmod tempor incididunt ut labore</span></li>
                  </ul>
                </div>
                <div class="product-exclusions">
                  <h3>What's Out?</h3>
                  <ul class="department-browser-list">
                    <li><span>Lorem ipsum dolor</span></li>
                    <li><span>sit amet, consectetur adipisicing elit</span></li>
                    <li><span>Consectetur adipisicing elit</span></li>
                    <li><span>Sed do eiusmod tempor incididunt ut labore</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <div class="department-browser-item">
        <div class="department-browser-heading">
          <h2>Camping, Bikes &amp; Outdoor sports</h2>
        </div>
        <div class="department-browser-body">
          <div class="department-browser-inner">
            <div class="row-fluid">
              <div class="department-details">
                <img src="../img/content/department-browser-01.jpg" class="department-thumbnail" alt="placeholder text for department image">
                <h3>Where to spend your Exchange tokens</h3>
                <div class="product-exchange row-fluid">
                  <div class="product-exchange-cta">
                    <a href="" class="product-exchange-btn"><span class="product-exchange-logo exchange-direct"></span><span class="product-exchange-txt">Tesco direct in store or online</span></a>
                    <a href="" class="product-exchange-btn" ><span class="product-exchange-logo exchange-instore"></span><span class="product-exchange-txt instore-txt">In store</span> </a>
                  </div>
                  <div class="product-exchange-call-out">
                    <img src="../img/content/department-logo.png" class='product-browser-logo call-out-img' alt="logo placeholder">
                    <a href="" class="call-out-link">Visit our Baby &amp; Toddler department</a>
                  </div>
                </div>
              </div>
              <div class="department-specifics">
                <div class="product-inclusions">
                  <h3>What's in?</h3>
                  <ul class="department-browser-list">
                    <li><span>Lorem ipsum dolor</span></li>
                    <li><span>sit amet, consectetur adipisicing elit</span></li>
                    <li><span>Consectetur adipisicing elit</span></li>
                    <li><span>Sed do eiusmod tempor incididunt ut labore</span></li>
                    <li><span>2sit amet, consectetur adipisicing elit</span></li>
                    <li><span>2Lorem ipsum dolor</span></li> 
                    <li><span>2Consectetur adipisicing elit</span></li>
                    <li><span>2Sed do eiusmod tempor incididunt ut labore</span></li>
                    <li><span>3Lorem ipsum dolor</span></li>
                    <li><span>3sit amet, consectetur adipisicing elit</span></li>
                    <li><span>3Sed do eiusmod tempor incididunt ut labore</span></li>
                    <li><span>3Consectetur adipisicing elit</span></li>
                    <li><span>4Lorem ipsum dolor</span></li>
                    <li><span>4sit amet, consectetur adipisicing elit</span></li>
                    <li><span>4Consectetur adipisicing elit</span></li>
                    <li><span>4Sed do eiusmod tempor incididunt ut labore</span></li>
                  </ul>
                </div>
                <div class="product-exclusions">
                  <h3>What's Out?</h3>
                  <ul class="department-browser-list">
                    <li><span>Lorem ipsum dolor</span></li>
                    <li><span>Sed do eiusmod tempor incididunt ut labore</span></li>
                    <li><span>sit amet, consectetur adipisicing elit</span></li>
                    <li><span>Consectetur adipisicing elit</span></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sample code ends -->
</div>
<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Department Browser</h2>
          <hr />
          <div class="content-container">
            <h3>Usage</h3>
            <p>The department browser allows users to browse departments by viewing product listings contained within. </p>
            <h4>Interactions</h4>
            <p>Users can link directly to product purchase options and view content within an accordion display.</p>
            <h4>Layout modes</h4>
            <p>There are two layout modes: desktop, and mobile. Larger screens utilise a horizontal layout to display listings side by side. Smaller screens stack content areas vertically and the large content image is removed to speed page load and reduce scrolling.</p>
            <hr />
            <h3>CSS</h3>
            <h4>Media queries</h4>
            <p>We are using three breakpoints to handle the changes between desktop, tablet and mobile. Common styles are loaded for the component and then device specific styles are loaded in for each breakpoint into the appropriate stylesheet.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/department-browser.scss</p>
            <p>/large-components/department-browser.scss</p>
            <p>/tablet-components/department-browser.scss</p>
            <p>/small-components/department-browser.scss</p>
            <hr />
            <h3>Use of Javascript</h3>
            <p>The accordion functionality is provided by the Twitter Bootstrap framework. More details can be found within the <a href="../components/accordions.html">accordion page documentation</a></p>
            <h4>Non-JS behaviour</h4>
            <p>Text items and headings will be displayed as fully expanded content areas within the page. </p>
            <hr />
            <h3>Responsive Images</h3>
            <p>The department image uses a fluid max-width technique which means it will stretch the fill the width of the container it is in. The image is not required on the mobile. We would recommend using WURFL to serve a 1px x 1px image to the mobile screens. This image will be cached by the client and so will not be downloaded again once the user has it. This way you can effectively remove an HTTP request to the image for following page requests. </p>
            <hr />
            <h3>Accessibility</h3>
            <p>Images should have relevant alt text.</p>
            <hr />
            <h3>SEO implications</h3>
            <p>Headings should be semantically structured in numerical order. Its important all product information is keyword optimised as these items are likely to form search terms from your customer base. We recommend the use of Adwords or other search term thesuarus tool to ensure you are capturing all relevant search keywords. </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>