<% var title = 'Department teasers' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->
  <div class="component-container">
    <div class="content-block product-teaser-container">
      <div class="row-fluid">
        <div class="department-teaser-item">
          <div class="department-teaser">
            <div class="department-teaser-img">
              <a href=""><img src="../img/content/department-teaser.jpg" alt="alt text placeholder for carousel image"/></a>
              <p class="clubcard-exchange-logo">
                Clubcard voucher exchange - turn every £5 vouchers into £10 of tokens
              </p>
            </div>
            <div class="department-teaser-txt">
              <h3><a href="">Kitchenwear</a></h3>
            </div>
            <div class="teaser-border">
            </div>
          </div>
        </div>
         <div class="department-teaser-item">
          <div class="department-teaser">
            <div class="department-teaser-img">
              <a href=""><img src="../img/content/department-teaser.jpg" alt="alt text placeholder for carousel image"/></a>
              <p class="clubcard-exchange-logo">
                Clubcard voucher exchange - turn every £5 vouchers into £10 of tokens
              </p>
            </div>
            <div class="department-teaser-txt">
              <h3><a href="">Home furnishings</a></h3>
            </div>
            <div class="teaser-border">
            </div>
          </div>
        </div>
         <div class="department-teaser-item">
          <div class="department-teaser">
            <div class="department-teaser-img">
              <a href=""><img src="../img/content/department-teaser.jpg" alt="alt text placeholder for carousel image"/></a>
              <p class="clubcard-exchange-logo">
                Clubcard voucher exchange - turn every £5 vouchers into £10 of tokens
              </p>
            </div>
            <div class="department-teaser-txt">
              <h3><a href="">Electrical</a></h3>
            </div>
            <div class="teaser-border">
            </div>
          </div>
        </div>
        <div class="department-teaser-item">
          <div class="department-teaser">
            <div class="department-teaser-img">
              <a href=""><img src="../img/content/department-teaser.jpg" alt="alt text placeholder for carousel image"/></a>
              <p class="clubcard-exchange-logo">
                Clubcard voucher exchange - turn every £5 vouchers into £10 of tokens
              </p>
            </div>
            <div class="department-teaser-txt">
              <h3><a href="">Home entertainment</a></h3>
            </div>
            <div class="teaser-border">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Department teasers</h2>
          <hr />
          <div class="content-container">
            <h3>Usage</h3>
            <p>Department teasers are primarily used for presenting Clubcard content within a carousel or in page to encourage users to browse and purchase. </p>
            <h4>Interactions</h4>
            <p>Both the image and title have a link to content</p>
            <h4>Layout modes</h4>
            <p>There are two layout modes: desktop and mobile. Larger screens have a 4 column layout. The teasers are set to expand to fill the container they are in so will shrink with the fluid grid. Smaller screens display the individual teaser items in the same way as the larger screen but in a vertically stacked format.</p>
            <hr />
            <h3>CSS</h3>
            <h4>Media queries</h4>
            <p>We are using three breakpoints to handle the changes between desktop, tablet and mobile. Common styles are loaded for the component and then device specific styles are loaded in for each breakpoint into the appropriate stylesheet.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/product-teaser.scss</p>
            <p>/large-components/product-teaser.scss</p>
            <p>/tablet-components/product-teaser.scss</p>
            <p>/small-components/product-teaser.scss</p>
            <hr />
            <h3>Responsive Images</h3>
            <p>The images are using a max-width fluid technique so they expand to fill the container they are in. for department teasers where the Clubcard exchange logo is placed within the image container choose imagery where there is less focus within the top left area.</p>
            <p>Image dimensions: Image dimensions: 560px x 189px</p>
            <hr />
            <h3>Accessibility</h3>
            <p>Images should have relevant alt tags. The Clubcard exchange logo has been implemented with an image replacement technique so the text is within the page and available to a screen reader and not part of the image itself. </p>
            <hr />
            <h3>SEO implications</h3>
            <p>Department teasers are likely to form deep links into purchase content so its important link text and image names are keyword optimised.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>