<% var title = 'Hero banner' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Hero banner with CTA</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->

  <div class="hero-unit">
    <img src="../img/content/hero-placeholder-boost.jpg" alt="Placeholder for Landing page image"/>
    <div class="hero-content-container">
      <div class="hero-content">
        <div class="hero-title">
          <h1>Say hello to Clubcard Boost</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">The new name for Exchange and Rewards. Are you ready to boost your vouchers and make them go further?
            <span class="hero-cta">
              <span class="hero-cta-item">
              <a href="">Ready to Boost</a>
              </span>
              <span class="hero-cta-item">
              <a href="">How does it work?</a>
              </span>
            </span>
          </p>
        </div>
        <span class="hero-chevron">&nbsp;</span>
      </div>
    </div>

  </div>

  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Hero banner - category variant: Eating out</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="eating">

    <div class="hero-unit">
      <img src="../img/content/hero-placeholder-boost.jpg" alt="Placeholder for Landing page image"/>
      <div class="hero-content-container">
        <div class="hero-content">
          <div class="hero-title">
          <h1>Hope you're hungry</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">Get up to 4x your voucher value with lots of lovely restaurants, cafes and pubs to choose from, it's time to round up your friends and family.</p>
        </div>
          <span class="hero-chevron">&nbsp;</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Hero banner - category variant: Fun</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="fun">

    <div class="hero-unit">
      <img src="../img/content/hero-placeholder-boost.jpg" alt="Placeholder for Landing page image"/>
      <div class="hero-content-container">
        <div class="hero-content">
          <div class="hero-title">
          <h1>Hope you're hungry</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">Get up to 4x your voucher value with lots of lovely restaurants, cafes and pubs to choose from, it's time to round up your friends and family.</p>
        </div>
          <span class="hero-chevron">&nbsp;</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Hero banner - category variant: exchange</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="exchange">

    <div class="hero-unit">
      <img src="../img/content/hero-placeholder-boost.jpg" alt="Placeholder for Landing page image"/>
      <div class="hero-content-container">
        <div class="hero-content">
          <div class="hero-title">
          <h1>Hope you're hungry</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">Get up to 4x your voucher value with lots of lovely restaurants, cafes and pubs to choose from, it's time to round up your friends and family.</p>
        </div>
          <span class="hero-chevron">&nbsp;</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Hero banner - category variant: Home</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="home">

    <div class="hero-unit">
      <img src="../img/content/hero-placeholder-boost.jpg" alt="Placeholder for Landing page image"/>
      <div class="hero-content-container">
        <div class="hero-content">
          <div class="hero-title">
          <h1>Hope you're hungry</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">Get up to 4x your voucher value with lots of lovely restaurants, cafes and pubs to choose from, it's time to round up your friends and family.</p>
        </div>
          <span class="hero-chevron">&nbsp;</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Hero banner - category variant: Lifestyle</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="lifestyle">

    <div class="hero-unit">
      <img src="../img/content/hero-placeholder-boost.jpg" alt="Placeholder for Landing page image"/>
      <div class="hero-content-container">
        <div class="hero-content">
          <div class="hero-title">
          <h1>Hope you're hungry</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">Get up to 4x your voucher value with lots of lovely restaurants, cafes and pubs to choose from, it's time to round up your friends and family.</p>
        </div>
          <span class="hero-chevron">&nbsp;</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Sample code ends -->

  <div class="row-fluid styleguide-notes">
    <div class="styleguide-wrapper">
      <p>Hero banner - category variant: Travel</p>
      <hr />
    </div>
  </div>

  <!-- Sample code here -->
  <div class="travel">

    <div class="hero-unit">
      <img src="../img/content/hero-placeholder-boost.jpg" alt="Placeholder for Landing page image"/>
      <div class="hero-content-container">
        <div class="hero-content">
          <div class="hero-title">
          <h1>Hope you're hungry</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">Get up to 4x your voucher value with lots of lovely restaurants, cafes and pubs to choose from, it's time to round up your friends and family.</p>
        </div>
          <span class="hero-chevron">&nbsp;</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Sample code ends -->



</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Hero banner</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>The hero banner appears at the top of every section landing page e.g. Exchange &amp; Rewards, as well a a slimmer version for subsequent content pages e.g. Contact us.</p>
            <h4>Interactions</h4>
            <p>The hero banner strapline can contain one or more calls to action.</p>
            <h4>Layout modes</h4>
            <p>There are two layout modes: desktop, tablet and mobile. Larger screens utilise a horizontal layout to incorporate a two column layout. Smaller screens stack content areas vertically to allow a fluid stretching layout.</p>
            <hr />
            <h3>CSS</h3>
            <h4>Media queries</h4>
            <p>We are using three breakpoints to handle the changes between desktop, tablet and mobile. Common styles are loaded for the component and then device specific styles are loaded in for each breakpoint into the appropriate stylesheet.</p>
            <h4>SASS Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common-components/hero.scss</p>
            <p>/large-components/hero.scss</p>
            <p>/tablet-components/hero.scss</p>
            <p>/small-components/hero.scss</p>
            <hr />
            <h3>Component variants</h3>
            <p>The hero banner can appear within a colour coded category section, on a standard content page or within a campaign page. we have provided colour ways for the main options but new colours can be introduced by updating the CSS and creating a new background graphic to handle the desktop columns.</p>
            <hr />
            <h3>Responsive Images</h3>
            <p>The hero banner image uses a fluid max-width technique which means it will stretch the fill the width of the container it is in. We recommend using WURFL to swap out a smaller image for mobile devices. </p>
            <p>Desktop Image dimensions: 960 x 335px</p>
            <p>Mobile Image dimensions: 600 x 210px</p>
            
            <p>Narrow hero image for internal page desktop dimensions: 960 x 192px</p>
            <p>Narrow hero image for internal page mobile dimensions: 600 x 128px</p>
            <hr />
            <h3>Accessibility</h3>
            <p>Image should have relevant alt text supplied. Any links should have relevant title attributes describing their action</p>
            <hr />
            <h3>SEO implications</h3>
            <p>The Hero banner contains the H1 for a page and this copy should be SEO keyword optimised to ensure the best ranking for the content contained within the page.</p>
            <hr />
            <h3>Character limit recommendations</h3>
            <p>Panel title: 13 characters per line</p>
            <p>Panel sub-title: 16 characters per line</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>