<% var title = 'Tesco Clubcard Responsive Wireframes' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>


<style>
.completed a{
  color:#666;
}

</style>
<div class="container" id="content">
  <div class="heading-container">
    <div class="heading-container-text">
      <h1>Components</h1>
    </div>
  </div>
  <div class="content-container">
    <div class="row-fluid">
      <div class="span3">
        <div class="content-container" id="homepage-components">
          <p class="template-title">Home page</p>
          <ul class="style-guide-list">
            <li class='completed'><a href="header.html">Global header</a></li>
            <li class='completed'><a href="footer.html">Global footer</a></li>
            <li class='completed'><a href="homepage-banner.html">Homepage banner</a></li>
            <li class='completed'><a href="proposition-teasers.html">Proposition teasers</a></li>
            <li class='completed'><a href="action-teasers.html">Action teasers</a></li>
            <li class='completed'><a href="category-teasers.html">Category teasers</a></li>
            <li class='completed'><a href="advert.html">Advert banners</a></li>
            <li class='completed'><a href="cookie-message.html">Cookie message</a></li>
          </ul>
          <a class="btn standard-btn " href="../templates/homepage.html">View Template</a>
        </div>
      </div>
      <div class="span3">
        <div class="content-container">
         <p class="template-title">Landing page components</p>
         
            <ul class="style-guide-list">
              <li class='completed'><a href="proposition-banner.html">Proposition banner</a></li>
              <li class='completed'><a href="double-promo.html">Double promo</a></li>
              <li class='completed'><a href="choice-promo.html">Choice promo</a></li>
              <li class='completed'><a href="process-diagram.html">Process Diagram</a></li>
              <li class='completed'><a href="content-promo.html">Content promo</a></li>
              <li class='completed'><a href="content-teasers.html">Content teasers</a></li>
              <li class='completed'><a href="perk-teasers.html">Perk teasers</a></li>
              <li class='completed'><a href="department-teasers.html">Department teasers</a></li>
              <li class='completed'><a href="carousel.html">Carousel</a></li>
            </ul>
          
          <a class="btn standard-btn " href="../templates/landing-page.html">View Template</a>
        </div>
      </div>
      <div class="span3">
        <div class="content-container">
          <p class="template-title">Standard content components</p>
            <ul class="style-guide-list">
              <li class='completed'><a href="hero-banner.html">Hero banner</a></li>
              <li class='completed'><a href="content-blocks.html">Content Blocks</a></li>
              <li class='completed'><a href="heading-container.html">Heading container</a></li>
              <li class='completed'><a href="typography.html">Typography</a></li>
              <li class='completed'><a href="form-elements.html">Form elements</a></li>
              <li class='completed'><a href="accordions.html">Accordions</a></li>
            </ul>
          <p><a class="btn standard-btn " href="../templates/standard-content.html">View Template</a></p>
        </div>
      </div>
      <div class="span3">
        <div class="content-container">
          <p class="template-title">Standalone components</p>
            <ul class="style-guide-list">
              <li class='completed'><a href="postcode-finder.html">Postcode finder</a></li>
              <li class='completed'><a href="postcode-finder-alternative.html">Postcode finder (alternative)</a></li>
              <li class='completed'><a href="sitemap.html">Site map</a></li>
              <li class='completed'><a href="contact-us.html">Contact us blocks</a></li>
              <li class='completed'><a href="department-browser.html">Department browser</a></li>
            </ul>
           <p><a class="btn standard-btn " href="../templates/postcode-map.html">View Template</a></p>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="content-container" id="PLP-components">
          <p class="template-title">Product listing page</p>
          <ul class="style-guide-list">
            <li class='completed'><a href="breadcrumb.html">Breadcrumb</a></li>
            <li class='completed'><a href="search.html">Search</a></li>
            <li class='completed'><a href="auto-correct.html">Autocorrect/suggest</a></li>
            <li class='completed'><a href="faceted.html">Faceted Navigation</a></li>
            <li class='completed'><a href="results-sort.html">Sort results</a></li>
            <li class='completed'><a href="pagination.html">Pagination</a></li>
            <li class='completed'><a href="product-item.html">Product item</a></li>
            <li class='completed'><a href="page-loading.html">Page loading</a></li>
            <li class='completed'><a href="listing-heading.html">Listing heading</a></li>
          </ul>
          <p><a class="btn standard-btn " href="../templates/product-listing.html">View Template</a></p>
        </div>
      </div>
      <div class="span3">
        <div class="content-container" id="PDP-components">
          <p class="template-title">Product description page</p>
          <ul class="style-guide-list">
            <li class='completed'><a href="product-header.html">Product header</a></li>
            <li class='completed'><a href="promo-banner.html">Product promotion alert</a></li>
            <li class='completed'><a href="product-timer.html">Product timer/stock count</a></li>
            <li class='completed'><a href="product-image.html">Product image</a></li>
            <li class='completed'><a href="overview.html">Overview</a></li>
            <li class='completed'><a href="product-variant.html">Product variant</a></li>
            <li class='completed'><a href="product-quantity.html">Amend quantity</a></li>
            <li class='completed'><a href="value-display.html">Value display</a></li>
            <li class='completed'><a href="delivery-method.html">Delivery method</a></li>
            <li class='completed'><a href="additional-information.html">Product details</a></li>
            <li class='completed'><a href="back-to-top.html">Back to top</a></li>
            <!--  <li><a href="reviews.html">Reviews</a></li> -->
            <li>Ratings and Reviews - still to be defined</li>
          </ul>
          <p><a class="btn standard-btn " href="../templates/product-description.html">View Template</a></p>
        </div>
      </div>
      <div class="span3">
        <div class="content-container">
          <p class="template-title">Basket</p>
          <ul class="style-guide-list">
            <li class='completed'><a href="basket-header.html">Basket display in Header</a></li>
            <li class='completed'><a href="basket-summary.html">Basket summary dropdown</a></li>
            <li class='completed'><a href="basket-product.html">Basket Product item</a></li>
            <li class='completed'><a href="product-alert.html">Product alert</a></li>
            <li class='completed'><a href="voucher-summary.html">Voucher payment summary</a></li>
            <li class='completed'><a href="checkout-actions.html">Checkout actions</a></li>
            <li class='completed'><a href="amend-basket.html">Amend product in basket</a></li>
          </ul>
          <p><a class="btn standard-btn " href="../templates/checkout_basket.html">View Template</a></p>
        </div>
      </div>
      <div class="span3">
        <div class="content-container" id="checkout-components">
          <p class="template-title">Checkout</p>
          <ul class="style-guide-list">
            <li class='completed'><a href="checkout-product.html">Checkout Product item</a></li>
            <li class='completed'><a href="additional-details.html">Additional product details</a></li>
            <li class='completed'><a href="voucher-payment.html">Voucher payment details</a></li>
            <li class='completed'><a href="add-voucher.html">Add a voucher</a></li>
            <li class='completed'><a href="delivery-details-full.html">Delivery details (Address and e-mail)</a></li>
            <li class='completed'><a href="delivery-details-address.html">Delivery details (Address only)</a></li>
            <li class='completed'><a href="delivery-details-email.html">Delivery details (E-mail only)</a></li>
            <li class='completed'><a href="delivery-details-account.html">Delivery details (Account)</a></li>
            <li class='completed'><a href="delivery-details-confirm.html">Delivery details (Confirm)</a></li>
            <li class='completed'><a href="credit-message.html">Credit message</a></li>
            <li class='completed'><a href="voucher-summary-checkout.html">Voucher payment summary</a></li>
            <li class='completed'><a href="order-confirmation.html">Order confirmation</a></li>
            <li class='completed'><a href="checkout-social.html">Social share</a></li>
            <li class='completed'><a href="checkout-process.html">Checkout process path</a></li>
            <li class='completed'><a href="checkout-secure.html">Checkout secure method</a></li>
            <li class='completed'><a href="checkout-header.html">Checkout Header</a></li>
            <li class='completed'><a href="checkout-footer.html">Checkout footer</a></li>
          </ul>
          <p><a class="btn standard-btn " href="../templates/checkout.html">View Template</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>