<% var title = 'No search results' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <!-- Sample code here -->

  <div class="row-fluid product-listing-display">
    <div class="facet-nav-container">
      <div class="facet-nav" >
        <form>
          <div class="facet-nav-heading">
            <p>Filter products</p>
          </div>
          <div class="facet-accordion" id="fac1">

            <div class="cat-facet facet">

              <h2 class="facet-heading">Categories</h2>

              <div class="facet-items">
                <ul class="facet-inner">

                  <li> 
                    <a href="">At tesco<span class="items">5</span></a> 
                  </li>
                  <li> 
                    <a href="">Fun <span class="items">58</span></a> 
                  </li>
                  <li> 
                    <a href="">Eating out <span class="items">369</span></a> 
                  </li>
                  <li> 
                    <a href="">Travel <span class="items">369</span></a> 
                  </li>
                  <li> 
                    <a href="">Home essentials <span class="items">369</span></a> 
                  </li>
                  <li> 
                    <a href="">Lifestyle <span class="items">369</span></a> 
                  </li>

                </ul>
              </div>
            </div>
          </div>  
          <input class="submit btn clear-filter-btn" type="reset" value="Clear all filters"/>
          <input class="submit btn apply-filter-btn" type="submit" value="Apply filters"/>
        </form>
      </div>
    </div>

    <div class="product-listing-container">
      <div class="product-listings" data-total-pages="5">
        <div class="category-teaser exchange">
          <div class="teaser-img">
            <img src="../img/content/category-teaser-exchange.jpg" alt="Placeholder text for teaser image"/>
          </div>
          <div class="teaser-overlay">
            <a href="#">
              <span class="teaser-arrow"></span>
              <span class="teaser-heading">Tesco Exchange</span>
              <span class="teaser-sub-heading">&ldquo;More, more, more&rdquo;</span>
            </a>
          </div>
        </div>

        <div class="category-teaser fun">
          <div class="teaser-img">
            <img src="../img/content/category-teaser-fun.jpg" alt="Placeholder text for teaser image" />
          </div>
          <div class="teaser-overlay">
            <a href="#">
              <span class="teaser-arrow"></span>
              <span class="teaser-heading">Fun</span>
              <span class="teaser-sub-heading">&ldquo;Mum, you're alright you are!&rdquo;</span>
            </a>
          </div>
        </div>

        <div class="category-teaser eating">
          <div class="teaser-img">
            <img src="../img/content/category-teaser-eating-out.jpg" alt="Placeholder text for teaser image" />
          </div>
          <div class="teaser-overlay">
            <a href="#">
              <span class="teaser-arrow"></span>
              <span class="teaser-heading">Eating out</span>
              <span class="teaser-sub-heading">&ldquo;Oooh, go on then&rdquo;</span>
            </a>
          </div>
        </div>


        <div class="category-teaser travel">
          <div class="teaser-img">
            <img src="../img/content/category-teaser-travel.jpg" alt="Placeholder text for teaser image" />
          </div>
          <div class="teaser-overlay">
            <a href="#">
              <span class="teaser-arrow"></span>
              <span class="teaser-heading">Travel</span>
              <span class="teaser-sub-heading">&ldquo;Wish you were here?&rdquo;</span>
            </a>
          </div>
        </div>

        <div class="category-teaser home">
          <div class="teaser-img">
            <img src="../img/content/category-teaser-home.jpg" alt="Placeholder text for teaser image" />
          </div>
          <div class="teaser-overlay">
            <a href="#">
              <span class="teaser-arrow"></span>
              <span class="teaser-heading">Home &amp; Essentials</span>
              <span class="teaser-sub-heading">&ldquo;Bargains on basics&rdquo;</span>
            </a>
          </div>
        </div>

        <div class="category-teaser lifestyle">
          <div class="teaser-img">
            <img src="../img/content/category-teaser-lifestyle.jpg" alt="Placeholder text for teaser image" />
          </div>
          <div class="teaser-overlay">
            <a href="#">
              <span class="teaser-arrow"></span>
              <span class="teaser-heading">Lifestyle</span>
              <span class="teaser-sub-heading">&ldquo;I want one of those&rdquo;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sample code ends -->
</div>

<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>No search results display</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>There are several link styles indicating a call to action or interaction. </p>
            <h4>Interactions</h4>
            <p>N/a</p>
            <h4>Layout modes</h4>
            <p>N/a</p>
            <hr />
            <h3>CSS</h3>
            <p>N/a</p>
            <h4>Media queries</h4>
            <p>N/a</p>
            <h4>SASS Partials</h4>
            <p>N/a</p>
            <hr />
            <h3>Use of Javascript</h3>
            <p></p>
            <h4>Use of AJAX</h4>
            <p></p>
            <h4>Non-JS behaviour</h4>
            <p> </p>
            <hr />
            <h3>Component variants</h3>
            <p>N/a</p>
            <hr />
            <h3>Responsive Images</h3>
            <p>N/a</p>
            <hr />
            <h3>Accessibility</h3>
            <p>N/a</p>
            <hr />
            <h3>SEO implications</h3>
            <p>N/a</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>