<% var title = 'Typography' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container" id='content'>
  <div class="content-container">
  <!-- Sample code here -->
  <h1>Heading 1</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h3>Heading 3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h5>Heading 5</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h6>Heading 6</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


  <h3>Blockquote</h3>


  <blockquote class="clearfix">
    <p>'Tis better to have loved and lost then never to have loved at all</p>
    <cite>William Shakespeare</cite>
  </blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <blockquote class="clearfix">
    <p>'Tis better to have loved and lost then never to have loved at all. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <cite>William Shakespeare</cite>
  </blockquote>

  <h3>Horizontal rule</h3>
  <hr />

  <h3>Inline links</h3>
  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h3>Miscellaneous inline text treatment</h3>
  <p>Lorem <strong>strong</strong> sit amet, <em>emphasis</em>, sed do eiusmod tempor <sub>sub text</sub> et dolore magna aliqua. <sup>super text</sup>, quis nostrud <abbr>abbreviation</abbr> ullamco </p>
  <p>Lorem <small>small</small>, consectetur adipisicing elit, <dfn>definition</dfn> incididunt ut labore <ins>insert</ins>. Ut enim ad minim veniam, <mark>mark</mark> laboris nisi ut aliquip ex ea </p>
  <h3>Address</h3>

  <address>24 acacia avenue, birmingham, B1 4BX</address>

  <h3>Unordered list</h3>

  <ul>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
  </ul>

  <h3>Nested list</h3>
  <ul>
    <li>Unordered list</li>
    <li>list item 2
      <ul>
        <li>Unordered list</li>
        <li>list item 2
          <ul>
            <li>Unordered list</li>
            <li>list item 2
              <ul>
                <li>Unordered list</li>
                <li>list item 2</li>
                <li>list item 3</li>
              </ul>
            </li>
            <li>list item 3</li>
          </ul>
        </li>
        <li>list item 3</li>
      </ul>
    </li>
    <li>list item 3</li>
  </ul>

  <h3>Ordered list</h3>
  <ol>
    <li>Ordered list</li>
    <li>list item 2</li>
    <li>list item 3</li>
  </ol>
    <h3>Styled list</h3>

    <div class="content-list">
      <ul>
        <li>
          <p>You can still get up to 4 times your voucher value with our Boost Partners (previously 'Clubcard Rewards').</p>
        </li>
        <li>
          <p>You are now able to turn every £5 worth of Clubcard vouchers into £10 to spend in selected Tesco departments throughout the year (previously 'Clubcard Exchange').</p>
        </li>
        <li>
          <p>Look out for our special seasonal events in summer and at Christmas where you can still exchange your vouchers in more departments.</p>
        </li>
      </ul>
    </div>

    <h3>Styled numbered list</h3>

    <ul class="double-promo-numbered-list">
      <li>
        <div class="numbered-list-icon">
          <span class="numbered-list-no">1</span>
        </div>
        <div class="numbered-list-txt">
          <p>Choose your Boost Partner from the selection above</p>
        </div>
      </li>
      <li>
        <div class="numbered-list-icon">
          <span class="numbered-list-no">2</span>
        </div>
        <div class="numbered-list-txt">
          <p>Add the Boost Partner to your basket and go to the checkout</p>
        </div>
      </li>
      <li>
        <div class="numbered-list-icon">
          <span class="numbered-list-no">3</span>
        </div>
        <div class="numbered-list-txt">
          <p>Enter your Clubcard voucher codes and confirm your order</p>
        </div>
      </li>
      <li>
        <div class="numbered-list-icon">
          <span class="numbered-list-no">4</span>
        </div>
        <div class="numbered-list-txt">
          <p>We'll send you an email confirmation. Then post or email your token(s) to you</p>
        </div>
      </li>
    </ul>

  <!-- Lists , numbered list, unstyled list, list in box, list with chevron -->

  <!-- Sample code ends -->
</div>
</div>
<div class="container">
  <!-- Style guide notes go here -->

  <div class="row-fluid styleguide-notes">

    <div class="styleguide-wrapper">
      <div class="span12">
        <div class="content-container styleguide-container">
          <h1>Styleguide notes</h1>
          <hr />
          <h2>Standard content and typography styles</h2>
          <hr />

          <div class="content-container">
            <h3>Usage</h3>
            <p>The typography component illustrates how different typographic elements can be used in a standard content area. </p>
            <h4>Layout modes</h4>
            <p>There is only a single layout mode for typographic elements.</p>
            <hr />
            <h3>CSS</h3>
            <p>Only common styles are loaded for this component.</p>
            <h4>Sass Partials</h4>
            <p>You can find the CSS for this component in the following SASS Partials:</p>
            <p>/common/typography.scss</p>
            <p>/common/lists.scss</p>
            <hr />
            <h3>Component variants</h3>
            <p>Typographic elements displayed include headings, copy, lists, text treatments and blockquotes</p>
            <hr />
            <h3>Accessibility</h3>
            <p>Ensure headings are nested in the correct numerical semantic order.</p>
            <hr />
            <h3>SEO implications</h3>
            <p>Ensure headings are nested in the correct numerical semantic order.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../templates/_foot %>