<li class="basket">
  <a href="" class="dropdown-toggle basket-btn <% if (typeof basket_active != 'undefined') { %> active"<% } else { %>" data-toggle="dropdown"<% } %>><span class="basket-arrow">
    <span class="basket-text">Basket </span><span class="items-txt">Items</span><span class="items">4</span></span>
  </a>
  <div class="dropdown-menu basket-summary-container pull-right">

    <div class="basket-summary-items">
      <div class="checkout-item">
        <div class="checkout-reward">
          <a href="" class="basket-product-img-link"><img src="../img/content/abbotsbury.gif"  alt="placeholder for checkout item"/></a>
          <h3><a href="">Abbotsbury Children's Farm</a></h3>
          <p class="checkout-value">£20 money-off token</p>
        </div>
        <div class="checkout-price">
          <p>£2.50</p>
        </div>
      </div>
      <div class="checkout-item">
        <div class="checkout-reward">
          <a href="" class="basket-product-img-link"><img src="../img/content/merlin.gif"  alt="placeholder for checkout item"/></a>
          <h3><a href="">Merlin Entertainment Group</a></h3>
          <p class="checkout-value">1 x 2 for 1 entry</p>
        </div>
        <div class="checkout-price">
          <p>£0.00</p>
          <p class="price-note">Clubcard perk</p>
        </div>
      </div>
      <div class="checkout-item">
        <div class="checkout-reward">
          <a href="" class="basket-product-img-link"><img src="../img/content/ipad.gif"  alt="placeholder for checkout item"/></a>
          <h3><a href="">iPad 2 with Wifi</a></h3>
          <p class="checkout-value">1 x Black, 32GB</p>
        </div>
        <div class="checkout-price">
          <p>£215.00</p>
        </div>
      </div>
      <div class="checkout-item">
        <div class="checkout-reward">
          <a href="" class="basket-product-img-link"><img src="../img/content/avios.gif"  alt="placeholder for checkout item"/></a>
          <h3><a href="">Avios</a></h3>
          <p class="checkout-value">600 Avios</p>
        </div>
        <div class="checkout-price">
          <p>£2.50</p>
        </div>
      </div>

      <div class="checkout-item-total">
        <div class="checkout-total-container">
          <div class="checkout-total-txt">
            <p>Total Clubcard voucher cost</p>
          </div>
          <div class="checkout-price">
            <p>£220.00</p>
          </div>
        </div>
      </div>

      <div class="basket-summary-action">
        <a href="#" class="submit primary-btn">View basket and checkout</a>
      </div>
    </div>
  </div>
</li>