<!-- FOOTER -->
<div class="footer">
  <div class="container">
    <div class="footer-inner"> 
      <div class="footer-links row-fluid">
        <div class="footer-column">
          <div class="footer-logo">
            <img src="../img/interface/footer-logo_2x.png" width="72" height="19" alt="Tesco logo">
          </div>
        </div>

        <div class="footer-column">
          <ul id="foo1" class="footer-accordion">
            <li class="footer-group">
              <h2 class="footer-heading">
                Customer services
              </h2>
              <div class="footer-section">
                <ul class="footer-sub-links">
                  <li>
                    <a href="">New to Clubcard?</a>
                  </li>
                  <li>
                    <a href="">Lost your Clubcard?</a>
                  </li>
                  <li>
                    <a href="">Help &amp; FAQs</a>
                  </li>
                  <li>
                    <a href="">Contact Us</a>
                  </li>
                </ul>
              </div> 
            </li>
          </ul>
        </div>

        <div class="footer-column">
          <ul id="foo2" class="footer-accordion">
            <li class="footer-group">
              <h2 class="footer-heading">
                Our website
              </h2>
              <div class="footer-section">
                <ul class="footer-sub-links">
                  <li>
                    <a href="">Join Clubcard</a>
                  </li>
                  <li>
                    <a href="">Website Feedback</a>
                  </li>
                  <li>
                    <a href="">Clubcard Newsletter</a>
                  </li>
                  <li>
                    <a href="">T&amp;Cs, Cookies &amp; Privacy</a>
                  </li>
                  <li>
                    <a href="">Sitemap</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div class="footer-column">
          <ul id="foo3" class="footer-accordion">
            <li class="footer-group">
              <h2 class="footer-heading">
                Explore Tesco
              </h2>
              <div id="foo3Sec1" class="footer-section">
                <ul class="footer-sub-links">
                  <li>
                    <a href="">Tesco.com</a>
                  </li>
                  <li>
                    <a href="">Clubcard TV</a>
                  </li>
                  <li>
                    <a href="">Tesco Babyclub</a>
                  </li>
                  <li>
                    <a href="">Tesco Bank</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright row-fluid">
        <p>
          <img src="../img/interface/strapline_2x.png" width="110" height="18" alt="Every little helps">
          <span>&copy; Tesco.com 2013</span>
          <span>All Rights Reserved</span>
        </p>
      </div>
    </div>
  </div> 
</div>
<!-- ends FOOTER -->