<!DOCTYPE html>
<!--[if IE 7]>         <html lang="en" class="ie7 no-js"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js">         <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" id="../mobile-css" href="../css/mobile.css" media="screen and (max-width: 599px)" />
  <link rel="stylesheet" id="../tablet-css" href="../css/tablet.css" media="screen and (min-width: 600px) and (max-width: 959px)" />
  <link rel="stylesheet" id="../desktop-css" href="../css/desktop.css" media="screen and (min-width: 960px)" />
  <!--[if lte IE 8]>
  <link rel="stylesheet" type="text/css" href="../css/old-ie.css" />
  <![endif]-->
  <link href="../css/annotations.css" rel="stylesheet" />
  <script src="../js/modernizr.js"></script>
</head>
<body<% if (typeof body_class != 'undefined') { %> class="<%= body_class %> "<% } %>>
  <a href="#nav" class="skipTo" >skip to navigation</a>
  <a href="#content" class="skipTo" >skip to content</a>