<div class="container navigation-container" id="top">
  <div class="header-container">
    <div class="logo">
      <a href="">Tesco Clubcard</a>
    </div>
    <div class="global-secondary-nav">
      <ul class="unstyled-list horizontal-navigation">
        <li><span class="identification">Hello Miss Buchan</span></li>
        <li><a href="">Not you?</a></li>
        <li class="secondary-links"><a href="">Website Feedback</a></li>
        <li class="global-social-link ir twitter"><a href="">Twitter</a></li>
        <li class="global-social-link ir facebook"><a href="">Facebook</a></li>
        <li class="global-social-link ir youtube"><a href="">Youtube</a></li>
        <% include _basket %>
      </ul>
    </div>
  </div>
  <div class="global-navigation-drawer">
    <div class="mobile-home-btn">
      <a href="">Home</a>
    </div>
    <div class="mobile-sign-in">
      <a href="">Sign-in / Register</a>
    </div>
    <ul class="global-nav unstyled-list horizontal-navigation" id="nav">
      <li><a href="">Collect &amp; Spend</a></li>
      <li id="rewards-section" class="rewards-section"><a href="">Clubcard <span class="global-nav-highlight">Boost</span></a></li>
      <li><a href="">Clubcard <span class="global-nav-highlight">Perks</span></a></li>
      <li><a href="">My Clubcard Account</a></li>
    </ul>
    <div class="category-navigation-drawer categories-open">
      <div class="category-list">
        <ul><li><h2><a href="">Clubcard Exchange</a></h2>
          <ul class="sub-category-list">
            <li class='active'><a href="">In store tokens</a></li>
            <li><a href="">Online tokens: Tesco direct</a></li>
            <li><a href="">Online tokens: Clothing</a></li>
          </ul>
          </li>
        </ul>
      </div>
      <div class="category-list">
        <ul><li><h2><a href="">Fun</a></h2>
           <ul class="sub-category-list">
            <li><a href="">Days out</a></li>
            <li><a href="">Experience Days</a></li>
            <li><a href="">Entertainment</a></li>
          </ul>
          </li>
        </ul>
      </div>
      <div class="category-list">
        <ul><li><h2><a href="">Home &amp; Essentials</a></h2>
          <ul class="sub-category-list">
            <li><a href="">Home &amp; Garden</a></li>
            <li><a href="">Learning &amp; Software</a></li>
            <li><a href="">Motoring</a></li>
          </ul>
          </li>
        </ul>
      </div>
      <div class="category-list">
        <ul><li><h2><a href="">Lifestyle</a></h2>
          <ul class="sub-category-list">
            <li><a href="">Health &amp; Beauty</a></li>
            <li><a href="">Shopping &amp; Gifts</a></li>
            <li><a href="">Magazine Subscriptions</a></li>
            <li><a href="">Memberships</a></li>
          </ul>
          </li>
        </ul>
      </div>
      <div class="category-list">
        <ul><li><h2><a href="">Eating out</a></h2>
          <ul class="sub-category-list">
            <li><a href="">View all</a></li>
          </ul>
          </li>
        </ul>
      </div>
      <div class="category-list">
        <ul><li><h2><a href="">Travel</a></h2>
          <ul class="sub-category-list">
            <li><a href="">View all</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-global">
      <a href="">Website feedback</a>
    </div>

    <div class="mobile-global-social">
      <ul>
        <li class="global-social-link ir twitter"><a href="">Twitter</a></li>
        <li class="global-social-link ir facebook"><a href="">Facebook</a></li>
        <li class="global-social-link ir youtube"><a href="">Youtube</a></li>
      </ul>
    </div>
  </div>
</div>