<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav" <% if (typeof headeritem == 'undefined'){ %>  id="nav"<%}%>>
      <li class='logo styleguide-logo'><a href="../index.html">Tesco Clubcard</a></li>
      <li><a href="../prototype/index.html">Prototype</a></li>
      <li><a href="../templates/index.html">Templates</a></li>
      <li><a href="../components/index.html">Components</a></li>
    </ul> 
  </div>
</div>
