<div id="tesco_cookie_widget" class="container">
  <p>
    We use cookies to give you the best possible experience on our site. By continuing to use the site you agree to our use of cookies. <a href="#">Find out more.</a>
    <button id="tesco_cookie_accept"><span>Close</span></button>
  </p>
</div>