<% var title = '404 Error page' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _header %>

<div class="container" id="content">
  <div class="component-container">
    <div class="heading-container">
      <div class="heading-container-text">
        <h2>We're sorry we couldn't find the page you requested</h2>
      </div>
    </div>
  </div>


  <div class="component-container">
    <div class="text-center">
      <p>If you typed the address in, please check that it's correct and try again. </p>
      <p>It's also possible that you clicked on an outdated link. <a href="">Please inform Tesco of this outdated or incorrect link.</a></p>
    </div>
  </div>
  <div class="component-container">
    <div class="text-center">
      <h3>What next?</h3>
      <p><a href="">Explore Clubcard Boost and make your vouchers go further</a></p>
    </div>
  </div>


  <div class="component-container">
    <div class="category-teaser-container">
      <div class="category-teaser exchange">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg" alt="alt text for teaser placeholder"/>
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">“More, more, more”</span>
          </a>
        </div>
      </div>

      <div class="category-teaser fun">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg" alt="alt text for teaser placeholder" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">“More, more, more”</span>
          </a>
        </div>
      </div>

      <div class="category-teaser eating">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg"  alt="alt text for teaser placeholder"/>
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">“More, more, more”</span>
          </a>
        </div>
      </div>

      <div class="category-teaser lifestyle">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg" alt="alt text for teaser placeholder" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">“More, more, more”</span>
          </a>
        </div>
      </div>

      <div class="category-teaser home">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg"  alt="alt text for teaser placeholder"/>
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">“More, more, more”</span>
          </a>
        </div>
      </div>

      <div class="category-teaser travel">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-02.jpg"  alt="alt text for teaser placeholder"/>
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">“More, more, more”</span>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>

<% include _footer %>
<% include _foot %>