<% var title = 'Standard Content page' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _header %>

<div class="container" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
  </div>

  <!-- Content blocks --> 

  <div class="component-container">
    <div class="heading-container">
      <div class="heading-container-text">
        <h2>Form examples</h2>
      </div>
    </div>
  </div>

  <div class="component-container">
    <div class="content-container">
        <form action="#">
    <fieldset>
      <legend>Standard form elements</legend>
      <div class="control-group">
        <label for="input">Input</label>
        <div class="controls">
          <input id="input" type="text" value="Basic input" />
        </div>
      </div>

      <div class="control-group">
        <label for="requiredinput">Required Label <span class='requiredmarker'></span></label>
        <div class="controls">
          <input id="requiredinput" type="text" value="Required input" />
        </div>
      </div>

      <div class="control-group">
        <label for="textarea">Textarea</label>
        <div class="controls">
          <textarea rows="3" id="textarea" cols="10"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label for="select">Select</label>
        <div class="controls">
          <select id="select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label">Checkboxes</p>
        <div class="controls">
          <label class="checkbox" for="input1">
            <input type="checkbox" name="optionsCheckboxList1" value="option1" id="input1"/>
            Option one 
          </label>
          <label class="checkbox" for="input2">
            <input type="checkbox" name="optionsCheckboxList2" value="option2" id="input2" />
            Option two 
          </label>
          <label class="checkbox" for="input3">
            <input type="checkbox" name="optionsCheckboxList3" value="option3" id="input3" />
            Option three 
          </label>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label">Inline checkboxes</p>
        <div class="controls">
          <label class="checkbox inline" for="inlineCheckbox1">
            <input type="checkbox" id="inlineCheckbox1" value="option1"  /> 1
          </label>
          <label class="checkbox inline" for="inlineCheckbox2">
            <input type="checkbox" id="inlineCheckbox2" value="option2"  /> 2
          </label>
          <label class="checkbox inline" for="inlineCheckbox3">
            <input type="checkbox" id="inlineCheckbox3" value="option3" /> 3
          </label>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label">Radio buttons</p>
        <div class="controls">
          <label class="radio" for="optionsRadios1">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"  />
            Option one
          </label>
          <label class="radio" for="optionsRadios2">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
            Option two 
          </label>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label" >Inline Radio buttons</p>
        <div class="controls">
          <label class="radio inline" for="optionsRadios3">
            <input type="radio" name="inlineRadios" id="optionsRadios3" value="option1" /> Option 1
          </label>
          <label class="radio inline" for="optionsRadios4">
            <input type="radio" name="inlineRadios" id="optionsRadios4" value="option2" /> Option 2
          </label>
          <label class="radio inline" for="optionsRadios5">
            <input type="radio" name="inlineRadios" id="optionsRadios5" value="option3" />Options 3
          </label>
        </div>
      </div>

      <div class="control-group form-inline">
        <p class="control-label" >Inline text input</p>
        <div class="controls">
          <label class="text-input inline" for="input-mini1">
            Age
          </label>
          <input id="input-mini1" type="text" value="Mini" class="input-mini" /> 
          <label class="text-input inline" for="input-mini2">
            Age
          </label>
          <input id="input-mini2" type="text" value="Mini" class="input-mini"  /> 
          <label class="text-input inline" for="input-mini3">
            Age
          </label>
          <input id="input-mini3" type="text" value="Mini" class="input-mini" /> 
        </div>
      </div>

      <span class="help-block">This is an example of guidance text to give supplementary information to the user about completion of the form.</span>
      <div class="form-actions">
        <button type="button" class="btn primary-btn">Button</button>
        <button type="reset" class="btn secondary-btn">Reset</button>
        <button class="btn reverse-btn">Cancel</button>
        <button type="submit" class="btn standard-btn">Submit</button>
      </div>
    </fieldset>
  </form>



    </div>
  </div>

  <div class="component-container">
    <div class="content-container">
      <div class="content-block">
          <form action="#">
    <fieldset>
      <legend>Standard form elements</legend>
      <div class="control-group">
        <label for="inputB">Input</label>
        <div class="controls">
          <input id="inputB" type="text" value="Basic input" />
        </div>
      </div>

      <div class="control-group">
        <label for="requiredinputB">Required Label <span class='requiredmarker'></span></label>
        <div class="controls">
          <input id="requiredinputB" type="text" value="Required input" />
        </div>
      </div>

      <div class="control-group">
        <label for="textareaB">Textarea</label>
        <div class="controls">
          <textarea rows="3" id="textareaB" cols="10"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label for="selectB">Select</label>
        <div class="controls">
          <select id="selectB">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label">Checkboxes</p>
        <div class="controls">
          <label class="checkbox" for="input1B">
            <input type="checkbox" name="optionsCheckboxList1" value="option1" id="input1B"/>
            Option one 
          </label>
          <label class="checkbox" for="input2B">
            <input type="checkbox" name="optionsCheckboxList2" value="option2" id="input2B" />
            Option two 
          </label>
          <label class="checkbox" for="input3B">
            <input type="checkbox" name="optionsCheckboxList3" value="option3" id="input3B" />
            Option three 
          </label>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label">Inline checkboxes</p>
        <div class="controls">
          <label class="checkbox inline" for="inlineCheckbox1B">
            <input type="checkbox" id="inlineCheckbox1B" value="option1"  /> 1
          </label>
          <label class="checkbox inline" for="inlineCheckbox2B">
            <input type="checkbox" id="inlineCheckbox2B" value="option2"  /> 2
          </label>
          <label class="checkbox inline" for="inlineCheckbox3B">
            <input type="checkbox" id="inlineCheckbox3B" value="option3" /> 3
          </label>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label">Radio buttons</p>
        <div class="controls">
          <label class="radio" for="optionsRadios1B">
            <input type="radio" name="optionsRadios" id="optionsRadios1B" value="option1"  />
            Option one
          </label>
          <label class="radio" for="optionsRadios2B">
            <input type="radio" name="optionsRadios" id="optionsRadios2B" value="option2" />
            Option two 
          </label>
        </div>
      </div>

      <div class="control-group">
        <p class="control-label" >Inline Radio buttons</p>
        <div class="controls">
          <label class="radio inline" for="optionsRadios3B">
            <input type="radio" name="inlineRadios" id="optionsRadios3B" value="option1" /> Option 1
          </label>
          <label class="radio inline" for="optionsRadios4B">
            <input type="radio" name="inlineRadios" id="optionsRadios4B" value="option2" /> Option 2
          </label>
          <label class="radio inline" for="optionsRadios5B">
            <input type="radio" name="inlineRadios" id="optionsRadios5B" value="option3" />Options 3
          </label>
        </div>
      </div>

      <div class="control-group form-inline">
        <p class="control-label" >Inline text input</p>
        <div class="controls">
          <label class="text-input inline" for="input-mini1B">
            Age
          </label>
          <input id="input-mini1B" type="text" value="Mini" class="input-mini" /> 
          <label class="text-input inline" for="input-mini2B">
            Age
          </label>
          <input id="input-mini2B" type="text" value="Mini" class="input-mini"  /> 
          <label class="text-input inline" for="input-mini3B">
            Age
          </label>
          <input id="input-mini3B" type="text" value="Mini" class="input-mini" /> 
        </div>
      </div>

      <span class="help-block">This is an example of guidance text to give supplementary information to the user about completion of the form.</span>
      <div class="form-actions">
        <button type="button" class="btn primary-btn">Button</button>
        <button type="reset" class="btn secondary-btn">Reset</button>
        <button class="btn reverse-btn">Cancel</button>
        <button type="submit" class="btn standard-btn">Submit</button>
      </div>
    </fieldset>
  </form>


      </div>
    </div>
  </div>

</div>

<% include _footer %>
<% include _foot %>