<% var title = 'Homepage' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _header %>

<div class="container" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
  </div>
  <div class="homepage-banner row-fluid">
    <div class="homepage-banner-img">
      <img src="../img/content/home-hero.jpg" alt="placeholder for homepage hero item"/>
    </div>
    <div class="homepage-banner-txt-container">
      <div class="homepage-banner-txt">
        <div class="homepage-banner-shim row-fluid">
          <div class="primary-txt">
            <div class="content-container">
              <h1>A little thank you from us</h1>
              <p>Save on everyday essentials, occasional treats, and experiences with family and friends.</p>
              <div class="homepage-banner-action">
                <a class="btn reverse-btn" href="">See how Clubcard works</a>
              </div>
            </div>
          </div>
          <div class="secondary-txt">
            <div class="content-container">
              <h2>Exchange &amp; Rewards</h2>
              <p>Let your clubcard vouchers go further</p>
              <p><a class="homepage-banner-cta" href="">Tell me more</a></p>
            </div>                        
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-container">
    <div class="heading-container">
      <div class="heading-container-text">
        <h2>How it works</h2>
      </div>
    </div>
  </div>

  <!-- Homepage action teasers --> 
  <div class="component-container">
    <div class="proposition-teasers-container action-teasers-container row-fluid">
      <div class="indent-wrapper">
        <div class="action-teaser proposition-teaser">
          <div class="collect action-teaser-item">
            <span class="action-icon"></span>
            <span class="action-teaser-txt">
              <span class="action-teaser-heading">Collect points</span>
              using your Clubcard
            </span>
          </div>
        </div>
        <div class="action-teaser proposition-teaser">
          <div class="earn action-teaser-item">
            <span class="action-icon"></span>
            <span class="action-teaser-txt">
              <span class="action-teaser-heading">Earn vouchers</span>
              by converting your points
            </span>
          </div>
        </div>
        <div class="action-teaser proposition-teaser">
          <div class="spend action-teaser-item">
            <span class="action-icon"></span>
            <span class="action-teaser-txt">
              <span class="action-teaser-heading">Spend vouchers</span>
              at Tesco or with our partners
            </span>
          </div>
        </div>
        <div class="action-teaser proposition-teaser">
          <div class="perks action-teaser-item">
            <span class="action-icon"></span>
            <span class="action-teaser-txt">
              <span class="action-teaser-heading">Get perks</span>
              just for being a member!
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- category teasers -->
  <div class="component-container">
    <div class="heading-container">
      <div class="heading-container-text">
        <h2>What&rsquo;s fun for you?</h2>
      </div>
    </div>
  </div>

  <div class="component-container">
    <div class="category-teaser-container">
      <div class="category-teaser exchange">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-exchange.jpg"  alt="placeholder for category teaser"/>
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Tesco Exchange</span>
            <span class="teaser-sub-heading">&ldquo;More, more, more&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser fun">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-fun.jpg"  alt="placeholder for category teaser" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Fun</span>
            <span class="teaser-sub-heading">&ldquo;Mum, you're alright you are!&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser eating">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-eating-out.jpg"  alt="placeholder for category teaser" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Eating out</span>
            <span class="teaser-sub-heading">&ldquo;Oooh, go on then&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser travel">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-travel.jpg"  alt="placeholder for category teaser" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Travel</span>
            <span class="teaser-sub-heading">&ldquo;Wish you were here?&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser home">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-home.jpg"  alt="placeholder for category teaser" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Home &amp; Essentials</span>
            <span class="teaser-sub-heading">&ldquo;Bargains on basics&rdquo;</span>
          </a>
        </div>
      </div>

      <div class="category-teaser lifestyle">
        <div class="teaser-img">
          <img src="../img/content/category-teaser-lifestyle.jpg"  alt="placeholder for category teaser" />
        </div>
        <div class="teaser-overlay">
          <a href="#">
            <span class="teaser-arrow"></span>
            <span class="teaser-heading">Lifestyle</span>
            <span class="teaser-sub-heading">&ldquo;I want one of those&rdquo;</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- advert banner -->
  <div class="component-container page-banner-container">
    <div class="page-banner row-fluid sample-banner-I">
      <div class="banner-img">
        <img src="../img/content/homepage-advert-banner.jpg" class="proposition-banner-img" alt="placeholder for advert banner"/>
        <p class="clubcard-exchange-logo">
          Clubcard voucher exchange - turn every £5 vouchers into £10 of tokens
        </p>
      </div>
      <div class="banner-txt">
        <div class="banner-heading">
          <h2>Don&rsquo;t miss out</h2>
        </div>
        <div class="banner-strapline">
          <p>July 2nd is the last date to exchange your vouchers</p>
        </div>
        <div class="banner-action">
          <a href="" class="btn reverse-btn">Exchange today</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _footer %>
<% include _foot %>