<% var title = 'Tesco Clubcard Responsive Wireframes' %>
<% var body_class = 'style-guide' %>
<% include _head %>
<% include _style_guide_nav %>

<div class="container" id="content">
  <div class="heading-container">
    <div class="heading-container-text">
      <h1>Templates</h1>
    </div>
  </div>

  <div class="content-container">
    <ul class="styleguide-template-list">
      <li>
        <p class="template-title"><a href="global-header.html">Global Header</a></p>
        <p>The global header template contains all the elements that appear across the site such as the primary and secondary navigation and the sign-in/register features. The only place where the global header is replaced is during the Checkout where it is replaced by a simpler version (logo only).</p>
        <p><a class="btn standard-btn " href="../components/index.html#homepage-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="global-footer.html">Global Footer</a></p>
        <p>Used for the global links. The only place where the global footer is replaced is during the Checkout where it is replaced by a simpler version (logo only).</p>
        <p><a class="btn standard-btn " href="../components/index.html#homepage-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="homepage.html">Homepage</a></p>
        <p>This template used for Clubcard Site homepage. The homage is accessed via the Tesco Clubcard logo. </p>
        <p><a class="btn standard-btn " href="../components/index.html#homepage-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="product-listing.html">Product listing page</a></p>
        <p class="template-title"><a href="product-listing-2results.html">Product listing - 2 results</a></p>
        <p class="template-title"><a href="search-listing.html">Search listing page</a></p>
        <p class="template-title"><a href="no-result-listing.html">No Search results</a></p>
        <p class="template-title"><a href="auto-correct.html">Search - Autocorrect</a></p>
        <p class="template-title"><a href="did-you-mean.html">Search - Did you mean</a></p>
        <p>Both the PLP and Search results pages use the same template, the components shown may vary.</p>
        <p><a class="btn standard-btn " href="../components/index.html#PLP-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="product-description.html">Product description page</a></p>
        <p>This template is used to display the detailed product information.</p>

        <p class="template-title"><a href="product-description-avios.html">Product description page - Avios</a></p>
        <p class="template-title"><a href="product-description-bagelfactory.html">Product description page - Bagel Factory</a></p>
        <p class="template-title"><a href="product-description-blinkbox.html">Product description page - Blinkbox</a></p>
        <p class="template-title"><a href="product-description-charity.html">Product description page - Charity</a></p>
        <p class="template-title"><a href="product-description-denby.html">Product description page - Denby</a></p>
        <p class="template-title"><a href="product-description-ipad2.html">Product description page - iPad 2</a></p>
        <p class="template-title"><a href="product-description-perks.html">Product description page - Perks</a></p>
        <p class="template-title"><a href="product-description-multiple-perks.html">Product description page - Perks - multiple available</a></p>
        <p class="template-title"><a href="product-description-pizzaexpress.html">Product description page - Pizza Express</a></p>
        <p class="template-title"><a href="product-description-pence.html">Product description page - Value less than a pound</a></p>
        <p><a class="btn standard-btn " href="../components/index.html#PDP-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="checkout_basket.html">Basket</a></p>
        <p class="template-title"><a href="empty_basket.html">Basket when empty</a></p>
        <p>Used for the site basket which holds the products the user wants to buy before proceeding to the Checkout. The basket is accessed via a link in the global header.</p>
        <p><a class="btn standard-btn " href="../components/index.html#checkout-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="checkout.html">Checkout</a></p>
        <p>This is the template for the single page checkout page (SPC).</p>
        <p><a class="btn standard-btn " href="../components/index.html#checkout-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="review.html">Review Order </a></p>
        <p>A variation on the SPC checkout a user can review their order before payment.</p>
        <p><a class="btn standard-btn " href="../components/index.html#checkout-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="confirm.html">Order Confirmation</a></p>
        <p>Displayed after the user has made a purchase.</p>
        <p><a class="btn standard-btn " href="../components/index.html#checkout-components">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="landing-page.html">Landing page</a></p>
        <p>The landing template is used for all the section landing pages e.g. Collect &amp; Spend and Clubcard Perks, as well as the category landing pages e.g. Fun and Travel.  It can also be used for deeper content pages such as Tesco Bank and christmas Savers. Variants of the template can be created by adding, removing and positioning the components.</p>
        <p class="template-title"><a href="postcode-map.html">Eating out</a></p>
        <p>Used for the postcode search functionality.</p>
        <p><a class="btn standard-btn " href="">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="standard-content.html">Standard Content page</a></p>
        <p>Used when the content is more descriptive and detailed as opposed to marketing led.</p>

        <p class="template-title"><a href="form-template.html">Standard Form examples</a></p>
        <p>Illustration to show how form fields can be used in a standard content page template</p>
        <p class="template-title"><a href="terms-and-conditions.html">Terms and conditions</a></p>
        <p>Used for pages that contain a lot of content that needs to be condensed into manageable chunks.</p>
        <p class="template-title"><a href="sitemap.html">Sitemap</a></p>
        <p>The site map of the Clubcard of the site, accessed via the footer.</p>
        <p class="template-title"><a href="lost-clubcard.html">Lost your clubcard</a></p> 
        <p>Sample content page to show use of content blocks and text treatments</p>
        <p class="template-title"><a href="contact-us.html">Contact us</a></p>
        <p>Used for the contact us page which contains a variety of actions such as FAQs and who to contact for what purpose.</p>
        <p><a class="btn standard-btn " href="">View components</a></p>
      </li>
      <li>
        <p class="template-title"><a href="error-page.html">Error pages</a></p>
        <p>Displayed when there is a 404 or 500 error.</p>
        <p><a class="btn standard-btn " href="">View components</a></p>
      </li>
  
    </ul>
  </div>
</div>

<% include _foot %>