<% var title = 'Lost your clubcard' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _header %>

<div class="container lost-clubcard" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
  </div>
  <!-- hero block -->

  <div class="hero-unit">
    <img src="../img/content/contact-hero.jpg" alt="Placeholder for Landing page image"/>
    <div class="hero-content-container">
      <div class="hero-content">
        <div class="hero-title">
          <h1>Lost your clubcard</h1>
        </div>
        <div class="hero-strapline">
          <p class="hero-sub-txt">Lost or damaged your Clubcard or key fob? No problem. Replacing them is easy and free.</p>
        </div>
        <span class="hero-chevron">&nbsp;</span>
      </div>
    </div>
  </div>


  <div class="component-container">
    <div class="heading-container">
      <div class="heading-container-text">
        <h2>Here's what to do</h2>
      </div>
    </div>
  </div>

    <div class="small-content-container">
      <p>
        Simply log into <a href="">My Clubcard Account</a> and click on 'order a replacement' or call us on 0800 59 16 88* and we will send you a new card and key fob. Your account and the points you've already collected aren't affected as your new card or key fob will be generated from the same account.
      </p>
    </div>

    <div class="small-content-container">
      <div class="well text-center">
        <p class="lead">
          <strong>
            If you have lost your Clubcard, please ensure that you ask for a replacement card rather than open a new Clubcard account, as a new account won't automatically be linked to your existing points balance.   
          </strong>
        </p>
      </div>
    </div>

    <div class="small-content-container">
      <p>
        * Calls to 0800 numbers are free from BT landlines but you may have to pay if you use another phone company, a mobile phone, or are calling from abroad. For clubcard scheme see <a href="">terms and conditions</a>
      </p>
    </div>




</div>

<% include _footer %>
<% include _foot %>