<% var title = 'Product Description' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _back_to_top %>
<% include _header %>

<div class="container" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
    <div class="breadcrumb clearfix">
      <ul class="unstyled-list horizontal-navigation" id="breadcrumb">
        <li class="breadcrumb-parent">
          <a href="" class="ancestor-link">All Lifestyle</a>
        </li>
        <li>
          <span>Diabetes UK</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="product-header">
    <div class="partners-logo">
      <img class="partner-logo" src="../img/content/diabetes.gif" alt="placeholder for product partner logo"/>
    </div>
    <div class="product-details">  
      <div class="product-title">
        <h1>Diabetes UK</h1>

        <p class="product-value">
          £2.50 worth of Clubcard tokens
        </p>
        <div class="product-value-container">
          <p class="product-value-vouchers">
            <span class="voucher-value">£2.50</span> in vouchers
          </p>
        </div>

        <div class="product-code-container">
          <p class="product-code-title">Product code:&nbsp;<span class="product-code">C0008</span></p>
        </div>
      </div>


      <div class="product-social">
        <div class="product-ratings">
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class="review-count"><a href="">(20 <span>Customer</span> reviews)</a></p>
          <p class="review-login">
            <a href="">Write a review</a>
          </p>
        </div>

        <div class="share-plugins">
          <div class="twitter-share">
            <a href=""><img src="../img/placeholder/twitter-icon.png" alt="Twitter"></a>
          </div>
          <div class="facebook-share">
            <a href=""><img src="../img/placeholder/facebook-icon.png" alt="Facebook"></a>
          </div>
        </div>
      </div> 
    </div> 
  </div>

  <div class="product-spotlight-container row-fluid">
    <div class="product-spotlight">
      <div class="spotlight-img">
        <img src="../img/content/pdp-hero.jpg" alt="product image placeholder"/>
      </div>
      <div class="product-spotlight-details">
        <ul>
          <li>Donate your Clubcard vouchers today to help Diabetes UK and Tesco create healthier communities throughout the UK.</li>
          <li>Diabetes is the fastest growing health threat in the UK.</li>
          <li>Provide life-changing support for a million people living with diabetes, so they feel less scared and isolated by their condition</li>
        </ul>
        <p class="delivery email">Delivered to you by email <i class="email-icon"></i></p>
      </div>
    </div>

    <div class="product-variant-container">
      <div class="load-message">
          <!-- <p>Error message encountered updating product purchase options</p> -->
        <div class="loading-graphic"></div>
      </div>
      <div class="product-variant-controls">
        <form class='product-variant-form'> 
          <div class="value-calculator">
            <p class="calculator-txt">Select value</p>
            <div class="inner">
            <label class='visuallyhidden' for="quantity">Value of vouchers</label>
            <span class="currency-symbol">£</span><input class="txt quantity" type="text" value="2.50" data-unit-value="1" data-step="2.50" data-max="10" data-min="2.5" id="quantity" data-precision="2">
          </div>
          </div>

          <div class="product-value">
            <p class="product-value-txt">
              Voucher cost
            </p>
            <p class="product-value-amount">
              £<span>2.50</span>
            </p>
          </div>

          <div class="add-to-basket-container">
            <button class="submit add-to-basket" type="submit"><span>Add to Basket</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="secondary-information">
      <div class="product-description">
        <h2 class="product-description-heading">How it works</h2>
        <div class="page-section">
          <div class="page-inner">
          <p>Tesco will give the amount you choose to donate in Clubcard vouchers to Diabetes UK on your behalf. </p>
            <ol>
              <li>
                Choose how much in Clubcard vouchers you’d like to donate by adding to your basket. Any change left over from your Clubcard vouchers will be added back into your Clubcard Account.
              </li> 
              <li>
                We'll send you an email within 30 minutes confirming that the amount you have selected has been donated.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="primary-information pdp-accordion" id="pdp1">
      <div class="product-description">
        <h2 class="product-description-heading">What you get</h2>
        <div class="page-section">
          <div class="page-inner">
            <p>
              Donate your Clubcard vouchers today to help Diabetes UK and Tesco create healthier communities throughout the UK.
            </p>

            <p>
              Diabetes is the fastest growing health threat in the UK. There are 3 million people in the UK living with diabetes, and around 850,000 more who have Type 2 diabetes but don’t know it. Around 7 million adults in the UK – that’s one in seven – are at high risk of diabetes, and that number is rising all the time. It’s also a major cause of lower limb amputation, blindness, kidney failure and stroke. Each year in the UK, 24,000 people die early from diabetes.
            </p>

            <h3>Our aim is to raise £10m to:</h3>
            <ul>
              <li>Provide life-changing support for a million people living with diabetes, so they feel less scared and isolated by their condition</li>
              <li>Prevent thousands of future cases of Type 2 diabetes, meaning fewer families are affected by its devastating effects</li>
              <li>Fund research into a vaccine that could stop forever the development of Type 1 diabetes in children.</li>
            </ul>

            <h3>Did you know…</h3>
            <p>£10 will help to provide specialist life-changing support for someone with diabetes, so they feel less scared and isolated by their condition</p>
            <p>£20 will enable us to provide vital information to help prevent people at risk from developing Type 2 diabetes</p>
            <p>£50 will help to fund research into a vaccine to stop the development of Type 1 diabetes in children</p>
            <p>Thank you for your donation</p>
          </div>
        </div>  
      </div>

      <div class="product-description">
        <h2 class="product-description-heading">
          The fine print
        </h2>
        <div class="page-section">
          <div class="page-inner">
            <ul>
              <li>Diabetes UK 2013 A charity registered in England and Wales (no. 215199) and in Scotland (no. SC039136).</li>
            </ul>

            <div id="tac1" class="terms-accordion">
              <div class="terms-group">
                <h3 class='terms-heading'>View full terms and conditions</h3>
                <div class="terms-section">
                  <div class="terms-inner">
                    <ul>
                      <li>Diabetes UK 2013 A charity registered in England and Wales (no. 215199) and in Scotland (no. SC039136).</li>
                      <li>Donations are non-refundable.</li>
                    </ul>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _footer %>
<% include _foot %>