<% var title = 'Product Description' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _back_to_top %>
<% include _header %>

<div class="container" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
    <div class="breadcrumb clearfix">
      <ul class="unstyled-list horizontal-navigation" id="breadcrumb">
        <li>
          <a href="" class="ancestor-link">All Travel</a>
        </li>
        <li class="breadcrumb-parent">
          <a href="" class="ancestor-link">Airlines</a>
        </li>
        <li>
          <span>Avios</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="product-header">
    <div class="partners-logo">
      <img class="partner-logo" src="../img/content/avios.gif" alt="placeholder for product partner logo"/>
    </div>
    <div class="product-details">  
      <div class="product-title">
        <h1>Avios</h1>

        <p class="product-value">
          600 Avios
        </p>
        <div class="product-value-container">
          <p class="product-value-vouchers">
            <span class="voucher-value">£2.50</span> in vouchers
          </p>
        </div>
        <div class="product-code-container">
          <p class="product-code-title">Product code:&nbsp;<span class="product-code">P9000</span></p>
        </div>
      </div>

      <div class="partners-details">
        <p>
          International
        </p>

      </div>

      <div class="product-social">
        <div class="product-ratings">
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class="review-count"><a href="">(20 <span>Customer</span> reviews)</a></p>
          <p class="review-login">
            <a href="">Write a review</a>
          </p>
        </div>

        <div class="share-plugins">
          <div class="twitter-share">
            <a href=""><img src="../img/placeholder/twitter-icon.png" alt="Twitter"></a>
          </div>
          <div class="facebook-share">
            <a href=""><img src="../img/placeholder/facebook-icon.png" alt="Facebook"></a>
          </div>
        </div>
      </div> 
    </div> 
  </div>

  <div class="product-spotlight-container row-fluid">
    <div class="product-spotlight">
      <div class="spotlight-img">
        <img src="../img/content/pdp-hero.jpg" alt="product image placeholder"/>
      </div>
      <div class="product-spotlight-details">
        <ul>
          <li>Get Avios with your Clubcard vouchers and begin your next adventure.</li>
          <li>Flights, hotels, theme parks, days out or holidays: they’re all available</li>
          <li>Turn your everyday shopping into something more exciting with Avios</li>
        </ul>
        <p class="delivery post">Delivered to you by post <i class="post-icon"></i></p>
      </div>
    </div>

    <div class="product-variant-container">
      <div class="load-message">
<!--         <p>Error message encountered updating product purchase options</p> -->
        <div class="loading-graphic"></div>
      </div>
      <div class="product-variant-controls">
        <form class='product-variant-form'> 
          <div class="value-calculator">
            <p class="calculator-txt">Select value</p>
            <div class="inner">
            <label class='visuallyhidden' for="quantity">Value of vouchers</label>
            <span class="currency-symbol">£</span><input class="txt quantity" type="text" value="2.50" data-unit-value="1" data-step="2.50" data-max="10" data-min="2.5" id="quantity" data-precision="2">
            </div>
          </div>

          <div class="product-value">
            <p class="product-value-txt">
              Voucher cost
            </p>
            <p class="product-value-amount">
              £<span>2.50</span>
            </p>
          </div>
          <div class="product-worth">
            <p>(Worth 600 Avios)</p>
          </div>

          <div class="add-to-basket-container">
            <button class="submit add-to-basket" type="submit"><span>Add to Basket</span></button>
          </div>
        </form>
      </div>

      
    </div>
  </div>

  <div class="row-fluid">
    <div class="secondary-information">
      <div class="product-description">
        <h2 class="product-description-heading">How it works</h2>
        <div class="page-section">
          <div class="page-inner">
            <ol>
              <li>
                Choose how much in Clubcard vouchers you’d like to exchange using the basket on the right. Any change left over from your Clubcard vouchers will be added back into your Clubcard Account.
              </li> 
              <li>
                Avios will be credited to your account within 28 days. 
                <ul>
                  <li>If you’re an existing Avios account holder the Avios will be credited to your existing account.</li>
                  <li>If you’re a new Avios customer a new account will be opened for you and within 21 days you’ll receive a New Joiner’s Pack.</li>
                  <li>Note: You can automatically convert your Clubcard Points into Avios by signing up to your 'My Clubcard Account' and ticking the box to opt in the 'My Preferences' page.</li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="primary-information pdp-accordion" id="pdp1">
      <div class="product-description">
        <h2 class="product-description-heading">What you get</h2>
        <div class="page-section">
          <div class="page-inner">
            <p>
              Turn your everyday shopping into something more exciting with Avios, the travel rewards points that take you places. Simply exchange your Tesco Clubcard vouchers for Avios and your fruit and veg could become airline tickets.
            </p>
            <p>
              Whatever you're saving for, be it a flight to Rome, a trip to Madame Tussauds or Disneyland Paris by Eurostar, or even just a weekend away at a luxury hotel, Avios can get you there quickly.
            </p>
            <p>Just shop as normal at Tesco with your Clubcard and then exchange your vouchers using the basket tool (every £2.50 of vouchers gets you 600 Avios).</p>
          </div>
        </div>  
      </div>

      <div class="product-description additional-information">
        <h2 class="product-description-heading">Additional information</h2>
        <div class="page-section">
          <div class="page-inner">
            <p class="partners-website">For more information visit <a href="http://www.avios.com/gb/en_gb/" target="_blank">www.avios.com</a></p>
          </div>
        </div> 
      </div> 

      <div class="product-description">
        <h2 class="product-description-heading">
          The fine print
        </h2>
        <div class="page-section">
          <div class="page-inner">
            <ul>
              <li>Remember to choose carefully – once you’ve exchanged your Clubcard vouchers for Avios, you can’t reverse the process</li>
              <li>For every £2.50 of Clubcard vouchers, you’ll receive 600 Avios.</li>
            </ul>

            <div id="tac1" class="terms-accordion">
              <div class="terms-group">
                <h3 class='terms-heading'>View full terms and conditions</h3>
                <div class="terms-section">
                  <div class="terms-inner">
                    <ul>
                      <li>By exchanging your Tesco Clubcard vouchers for Avios, you are agreeing that Tesco will be passing on your name, address and Clubcard number so that they can apply the Avios to your account and/or set up an account for you. Avios will use your information in accordance with their privacy policy to administer your Avios account and to contact you with information and offers from Avios and its scheme partners, to help you collect and redeem your Avios. See www.avios.com/tesco for full details.</li>
                      <li>Avios are held and issued subject to Avios Terms and Conditions – copies available on request by calling 0844 49 333 99. Calls cost 9.9p plus up to 5p pm from BT unlimited weekend plan. Mobile and other providers charges may vary. Calls may be recorded. Other providers may vary. Calls may be monitored or recorded to improve customer services.</li>
                      <li>Voucher exchange is subject to Clubcard and Avios Terms and Conditions.</li>
                      <li>All bookings are strictly subject to availability which may be limited on some routes at certain times especially during peak periods. The total number of seats available for Avios bookings will vary from route to route and from week to week depending on commercial demand. Please visit the zone map for the latest availability. All bookings are subject to Avios terms and conditions and the Carriers conditions of carriage. Reward Flight Saver includes airline taxes fees and surcharges – all you pay is the Avios fare plus £30 per person. Reward Flight Saver is available on British Airways and Iberia flights in Avios zones 1-3 in economy class. It's available to Regular Collectors - that's members who have collected at least 1 Avios in the proceeding 12 months. Full terms and conditions are available on avios.com Taxes fees and charges are subject to change. The price quoted for Reward Flight Saver may also be subject to change.</li>
                      <li>Avios and the Avios logo are trademarks of the British Airways Plc group of companies. Avios Group (AGL) Limited. Registered office: Astral Towers, Betts Way, London Road, Crawley, West Sussex RH10 9XY. Registered in England Company No. 2260073.</li>
                      <li>All standard Tesco.com and Clubcard scheme terms and conditions apply, these can be found on the website.</li>
                      <li>Unused, expired and redeemed tokens cannot be refunded, exchanged or returned. This does not affect your statutory rights</li>
                    </ul>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _footer %>
<% include _foot %>