<% var title = 'Product Description' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _back_to_top %>
<% include _header %>

<div class="container" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
    <div class="breadcrumb clearfix">
      <ul class="unstyled-list horizontal-navigation" id="breadcrumb">
        <li>
          <a href="" class="ancestor-link">Lifestyle</a>
        </li>
        <li>
          <a href="" class="ancestor-link">Shopping &amp; gifts</a>
        </li>
        <li class="breadcrumb-parent">
          <a href="" class="ancestor-link">Apple</a>
        </li>
        <li>
          <span>iPad 2</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="product-header">
    <div class="partners-logo">
      <img class="partner-logo" src="../img/content/ipad.gif" alt="placeholder for product partner logo"/>
    </div>
    <div class="product-details">  
      <div class="product-title">
        <h1>iPad 2</h1>

        <p class="product-value">
          iPad 2
        </p>
        <div class="product-value-container">
          <p class="product-value-vouchers">
            <span class="voucher-value">£215.00 - £400.99</span>
            <span class="range-unit">in vouchers</span> 
          </p>
        </div>

        <div class="product-code-container">
          <p class="product-code-title">Product code:&nbsp;<span class="product-code">P0749</span></p>
        </div>
      </div>

      <div class="product-social">
        <div class="product-ratings">
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class="review-count"><a href="">(20 <span>Customer</span> reviews)</a></p>
          <p class="review-login">
            <a href="">Write a review</a>
          </p>
        </div>

        <div class="share-plugins">
          <div class="twitter-share">
            <a href=""><img src="../img/placeholder/twitter-icon.png" alt="Twitter"></a>
          </div>
          <div class="facebook-share">
            <a href=""><img src="../img/placeholder/facebook-icon.png" alt="Facebook"></a>
          </div>
        </div>
      </div> 
    </div> 
  </div>

  <div class="product-spotlight-container row-fluid">
    <div class="product-spotlight">
      <div class="spotlight-img">
        <img src="../img/content/pdp-hero.jpg" alt="product image placeholder"/>
      </div>
      <div class="product-spotlight-details">
        <ul>
          <li>Grab one of the market’s best-selling tablets, the iPad 2 White 16Gb plus WiFi</li>
          <li>iPads are the sleek, slender tablets that give you all the functionality that comes with Apple with a super-sharp display</li>
          <li>9.7-inch LED-backlit display with Multi-Touch</li>
        </ul>
        <p class="delivery post">Delivered to you by post <i class="post-icon"></i></p>
      </div>
    </div>

    <div class="product-variant-container">
      <div class="load-message">
<!--         <p>Error message encountered updating product purchase options</p> -->
        <div class="loading-graphic"></div>
      </div>
      <div class="product-variant-controls">
        <form class='product-variant-form'> 
          <div class="product-option-selector">
            <div class="control-group">
              <label class='visuallyhidden' for="drive">Choose drive</label>
              <select name="variants[][drive]" id="drive" autocomplete="off">
                <option>Select drive</option>
                <option value="16GB">16GB</option>
                <option value="32GB">32GB</option>
              </select>
              <input class="submit secondary-btn" value="submit" type="submit"/>
            </div> 
            <div class="control-group">
              <label class='visuallyhidden' for="colour">Choose colour</label>
              <select name="variants[][colour]" id="colour" disabled="disabled" autocomplete="off">
                <option>Select colour</option>
                <option value="Black">Black</option>
                <option value="White" disabled="disabled">White - out of stock</option>
              </select>
              <input class="submit secondary-btn" value="submit" type="submit"/>
            </div>
            <div class="control-group">
              <label class='visuallyhidden' for="memory">Choose memory</label>
              <select name="variants[][memory]" id="memory" disabled="disabled" autocomplete="off">
                <option>Select memory size</option>
                <option value="16GB">16GB</option>
                <option value="32GB">32GB</option>
              </select>
              <input class="submit secondary-btn" value="submit" type="submit"/>
            </div>
          </div>

          <div class="value-calculator">
            <p class="calculator-txt">Select quantity</p>
            <div class="inner">
            <label class='visuallyhidden' for="quantity">No of items</label>
            <input class="txt quantity" type="text" value="1" data-unit-value="215.0" data-step="1" data-max="10" data-min="1" id="quantity" autocomplete="off">
            </div>
          </div>

          <div class="product-value">
            <p class="product-value-txt">
              Voucher cost
            </p>
            <p class="product-value-amount">
              £<span>215.00</span>
            </p>
          </div>

          <div class="add-to-basket-container">
            <button class="submit add-to-basket" type="submit"><span>Add to Basket</span></button>
          </div>
        </form>

      </div>

      
    </div>
  </div>

  <div class="row-fluid">
    <div class="secondary-information">
      <div class="product-description">
        <h2 class="product-description-heading">How it works</h2>
        <div class="page-section">
          <div class="page-inner">
            <ol>
              <li>
                Select the quantity of products you want to receive by adding to your basket. Any change left over from your Clubcard vouchers will be added back into your Clubcard Account.
              </li> 
              <li>
               We will email you within 30 minutes to confirm we have received your order.
              </li>
              <li>
                Then we’ll place your order with Apple and email you again to confirm your iPad 2 white 16GB with WiFi is on its way.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="primary-information pdp-accordion" id="pdp1">
      <div class="product-description">
        <h2 class="product-description-heading">What you get</h2>
        <div class="page-section">
          <div class="page-inner">
            <p>
              iPads are the sleek, slender tablets that give you all the functionality that comes with Apple with a super-sharp display. The interface is smooth and they’re very user-friendly. You can get your hands on one for less when you use Clubcard vouchers. Just exchange £215 and we’ll send you a white iPad 2 16GB.
            </p>
            <p>
              Use iTunes to purchase and download all your favourite music, games, movies and more to fill up your brand new iPad. Take crystal clear snapshots with the built-in camera, or record HD video. There's so much you can do with an iPad and, with the WiFi connectivity function enabled, you can do so much more.
            </p>
  
          </div>
        </div>  
      </div>

      <div class="product-description additional-information">
        <h2 class="product-description-heading">Additional information</h2>
        <div class="page-section">
          <div class="page-inner">
            <p>
              Key Features
            </p>
             <ul>
              <li>9.7-inch LED-backlit display with Multi-Touch</li>
              <li>Dual-core A5 chip</li>
              <li>Still camera and FaceTime camera****</li>
              <li>720p HD video recording</li>
              <li>Up to 10 hours of battery life*</li>
              <li>Built-in Wi-Fi (802.11a/b/g/n)</li>
              <li>iOS 6 and iCloud***</li>
              <li>Apple</li>
            </ul>
          </div>
        </div> 
      </div> 
           
      <div class="product-description">
        <h2 class="product-description-heading">
          The fine print
        </h2>
        <div class="page-section">
          <div class="page-inner">
            <ul>
              <li>Exchange £215 in Clubcard vouchers for a White iPad 2 16GB with WiFi - (RRP £329)</li>
              <li>This product will be sent to your registered Tesco.com address. Please ensure you confirm your address at checkout.</li>
              <li>Please allow 14 days for delivery.</li>
            </ul>

            <div id="tac1" class="terms-accordion">
              <div class="terms-group">
                <h3 class='terms-heading'>View full terms and conditions</h3>
                <div class="terms-section">
                  <div class="terms-inner">
                    <ul>
                      <li>*Battery life varies by use and configuration. See <a href="http://www.apple.com/uk" target="_blank">http://www.apple.com/uk</a> for more information.</li>
                      <li>**App count refers to the total number of apps worldwide.</li>
                      <li>***iCloud requires iOS 6 on iPhone 3GS or later, iPod touch (3rd and 4th generation) or iPad; a Mac computer with OS X Lion; or a PC with Windows Vista or Windows 7. Some features require a Wi-Fi connection. Some features are not available in all countries. Access to some services is limited to 10 devices.</li>
                      <li>****FaceTime video calling requires a FaceTime-enabled device and Wi-Fi connection for both caller and recipient. Not available in all areas.</li>
                      <li>Delivery to UK mainland addresses to assigned customer only. Please allow 14 days for delivery.</li>
                      <li>You must exchange your Clubcard vouchers on our website, Clubcard vouchers will not be accepted by the supplier.</li>
                      <li>All standard Tesco.com and Clubcard scheme terms and conditions apply, these can be found on the website.</li>
                      <li>Products are non refundable. This does not affect your statutory rights.</li>
                    </ul> 
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _footer %>
<% include _foot %>