<% var title = 'Product Description' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _back_to_top %>
<% include _header %>

<div class="container" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
    <div class="breadcrumb clearfix">
      <ul class="unstyled-list horizontal-navigation" id="breadcrumb">
        <li>
          <a href="" class="ancestor-link">All Eating out</a>
        </li>
        <li class="breadcrumb-parent">
          <a href="" class="ancestor-link">Restaurants</a>
        </li>
        <li>
          <span>Pizza Express</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="product-header">
    <div class="partners-logo">
      <img class="partner-logo" src="../img/content/pizzaexpress.gif" alt="placeholder for product partner logo"/>
    </div>
    <div class="product-details">  
      <div class="product-title">
        <h1>Pizza Express</h1>

        <p class="product-value">
          £10 worth of Clubcard tokens
        </p>
        <div class="product-value-container">
          <p class="product-value-vouchers">
            <span class="voucher-value">£2.50</span> in vouchers
          </p>
        </div>

        <div class="product-code-container">
          <p class="product-code-title">Product code:&nbsp;<span class="product-code">L2110</span></p>
        </div>
      </div>

      <div class="partners-details">
        <p>
          All National Chains
        </p>
 
      </div>

      <div class="product-social">
        <div class="product-ratings">
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class="review-count"><a href="">(20 <span>Customer</span> reviews)</a></p>
          <p class="review-login">
            <a href="">Write a review</a>
          </p>
        </div>

        <div class="share-plugins">
          <div class="twitter-share">
            <a href=""><img src="../img/placeholder/twitter-icon.png" alt="Twitter"></a>
          </div>
          <div class="facebook-share">
            <a href=""><img src="../img/placeholder/facebook-icon.png" alt="Facebook"></a>
          </div>
        </div>
      </div> 
    </div> 
  </div>

  <div class="product-spotlight-container row-fluid">
    <div class="product-spotlight">
      <div class="spotlight-img">
        <img src="../img/content/pdp-hero.jpg" alt="product image placeholder"/>
      </div>
      <div class="product-spotlight-details">
        <ul>
          <li>With the freshest ingredients prepared before your eyes, PizzaExpress ensures perfection - every time.</li>
          <li>Since 1965, PizzaExpress have been crafting your favourite pizza</li>
          <li>It's not all dough and pepperoni, though. Elsewhere you'll find pastas, salads and a risotto.</li>
        </ul>
        <p class="delivery email">Delivered to you by email <i class="email-icon"></i></p>
      </div>
    </div>

    <div class="product-variant-container">
      <div class="load-message">
<!--         <p>Error message encountered updating product purchase options</p> -->
        <div class="loading-graphic"></div>
      </div>
      <div class="product-variant-controls">
        <form class='product-variant-form'> 

          <div class="value-calculator">
            <p class="calculator-txt">Select value</p>
            <div class="inner">
            <label class='visuallyhidden' for="quantity">Value of vouchers</label>
             <span class="currency-symbol">£</span><input class="txt quantity" type="text" value="2.50" data-unit-value="1" data-step="2.50" data-max="10" data-min="2.5" id="quantity" data-precision="2">
           </div>
          </div>

          <div class="product-value">
            <p class="product-value-txt">
              Voucher cost
            </p>
            <p class="product-value-amount">
              £<span>2.50</span>
            </p>
          </div>
          <div class="product-worth">
            <p>(Worth £10 in Clubcard tokens)</p>
          </div>

          <div class="add-to-basket-container">
            <button class="submit add-to-basket" type="submit"><span>Add to Basket</span></button>
          </div>
        </form>
      </div>

      
    </div>
  </div>

  <div class="row-fluid">
    <div class="secondary-information">
      <div class="product-description">
        <h2 class="product-description-heading">How it works</h2>
        <div class="page-section">
          <div class="page-inner">
            <ol>
              <li>
                Choose how much in Clubcard vouchers you’d like to exchange using the basket on the right. Any change left over from your Clubcard vouchers will be added back into your Clubcard Account.
              </li> 
              <li>
                Print the email containing your token codes and take it with you to the restaurant. 
              </li>
              <li>Print the email containing your token codes and take it with you to the restaurant.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="primary-information pdp-accordion" id="pdp1">
      <div class="product-description">
        <h2 class="product-description-heading">What you get</h2>
        <div class="page-section">
          <div class="page-inner">
            <p>
              Since 1965, PizzaExpress have been crafting your favourite pizza, freshly made exactly the way you want it: runny egg on your Fiorentina or extra chicken on your Padana.
            </p>
            <p>
               No problem. Now you can enjoy this for less when you change £2.50 of your Clubcard vouchers for £10 in PizzaExpress tokens.
            </p>
            <p> Enjoy the beautifully crafted and sealed Calzone, the thin and crispy Romana or the Leggera with under 500 calories. As well as their classic base, which has been hand made the same way since ’65.</p>
            <p> It's not all dough and pepperoni, though. Elsewhere you'll find pastas, salads and a risotto. A new superfood salad with just 295 calories – perfect for the 5:2 diet. And now a beautiful Gluten-free range from pizzas to desserts and a pilsner beer.</p>
            <p>PizzaExpress is perfect for romantic dates, large parties, or any occasion, really. If you want beautiful, freshly prepared Italian pizza, don't look any further.</p>

            
          </div>
        </div>  
      </div>

      <div class="product-description additional-information">
        <h2 class="product-description-heading">Additional information</h2>
        <div class="page-section">
          <div class="page-inner">
            <p class="partners-website">For more information visit <a href="http://www.pizzaexpress.com/" target="_blank">www.pizzaexpress.com</a></p>
          </div>
        </div> 
      </div> 

      <div class="product-description">
        <h2 class="product-description-heading">
          The fine print
        </h2>
        <div class="page-section">
          <div class="page-inner">
            <ul>
              <li>PizzaExpress token codes cannot be used in conjunction with other promotional offers, vouchers, or used to buy gift cards.</li>
              <li>It is not possible to use PizzaExpress tokens delivered via email and via post on the same food bill.</li>
              <li>There is a maximum of 8 guests per party when using Tesco tokens.</li>
              <li>Token codes are not valid on takeaway orders.</li>
              <li>Token codes can be used as full or part payment for food only</li>
              <li>Tokens issued from now cannot be used at certain locations over the summer and Christmas. See Full Terms and Conditions for details</li>
            </ul>

            <div id="tac1" class="terms-accordion">
              <div class="terms-group">
                <h3 class='terms-heading'>View full terms and conditions</h3>
                <div class="terms-section">
                  <div class="terms-inner">
                    <ul>
                      <li><strong>Permanent restaurant exclusions</strong>: PizzaExpress token codes cannot be used in the following PizzaExpress restaurants: Earls Court Exhibition Centre, the O2, Brent Cross, Westfield Stratford, Westfield White City, Olympia, Strand or at PizzaExpress Jazz Clubs, music rooms or pop-up restaurants.</li>
                      <li><strong>Summer restaurant exclusions</strong>: Tokens ordered after 7th May 2013 cannot be used at the following locations between 22nd July and 1st September 2013: Jersey - St Brelade & St Helier, Inverness (Fridays and Saturdays only excluded), Portsmouth Gunwharf, St Ives, Newquay, Brighton – The Lanes & Jubilee Street. </li>
                      <li><strong>Christmas restaurant exclusions</strong>: Tokens ordered after 12th August 2013 cannot be used at the following locations between the following dates at lunch (until 4pm):
                        <ul>
                          <li>30th Nov - 31st Dec 2013 - Ashford & York McArthur Glen, Southampton West Quay, London St Christopher’s Place</li>
                          <li>14th Dec - 31st Dec 2013 - Cardiff St Davids, Glasgow Princes Square</li>
                          <li>14th Dec - 25th Dec 2013 - London Finsbury Circus, London Leadenhall Market, London Golden Square, London Victoria, London Canary Wharf, Glasgow Fort, Livingston</li>
                          <li>25th Dec - 31st Dec 2013 - Cheshire Oaks, Portsmouth, Inverness, Truro, Manchester Trafford Centre, Milton Keynes Midsummer Arcade, Derby Westfield Centre</li>
                        </ul>
                      </li>
                      <li>We encourage you to make a note of the expiry date of your token codes.</li>
                      <li>Only PizzaExpress token codes can be used in PizzaExpress restaurants, no other token codes will be accepted.</li>
                      <li>PizzaExpress token codes can be used as full or part payment for food only (PizzaExpress token codes cannot be used to purchase drinks, merchandise, gift cards or towards promotional and set menus) but you can top them up with cash; no change is given from PizzaExpress token codes and they cannot be used for a tip.</li>
                      <li>Maximum of 8 guests per party.</li>
                      <li>Token codes are not transferable.</li>
                      <li>Clubcard vouchers are not accepted by suppliers; you must exchange them for PizzaExpress token codes.</li>
                      <li>Token codes are valid for 6 months after issue.</li>
                      <li>It is not possible to combine tokens delivered via email and via post at PizzaExpress at the same time.</li>
                      <li>Token codes are sent by email and will be sent to the email address registered on your tesco.com account.</li>
                      <li>Unused, expired and redeemed token codes cannot be refunded, exchanged or returned. This does not affect your statutory rights. </li>
                    </ul>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _footer %>
<% include _foot %>