<% var title = 'Terms and Conditions' %>
<% include _head %>
<% include _tesco_cookie_widget %>
<% include _header %>

<div class="container" id="content">
  <div class="top-utilities">
    <div class="search-form">
      <form>
        <label for="product-search">Search</label>
        <input class="" type="text" placeholder="Search for any reward" id="product-search"/>
        <input class="submit search-btn" type="submit" value="Search" />
      </form>
    </div>
  </div>
  <div class="component-container">
    <div class="heading-container">
      <div class="heading-container-text">
        <h2>Things you need to know</h2>
        <p>Read our terms and conditions</p>
      </div>
    </div>
  </div>

  <div class="component-container">

    <!-- Nested accordion --> 
    <div class="primary-content" id="pri1">
      <div class="primary-content-group">
        <h2 class="primary-content-heading">
          Clubcard - terms and conditions
        </h2>
        <div class="primary-content-body">
          <div class="primary-content-inner">
            <div class="content-container">
              <p>The Clubcard Terms &amp; Conditions are listed below. If you have any questions about these Clubcard Terms &amp; Conditions please <a href="">Contact Us</a>
                  If you need any help understanding any part of this website, please view our <a href="">Help &amp; FAQs</a> or call <strong>0800 59 16 88</strong>.
              </p>
            </div>
            <div class="secondary-content" id="sec1">
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  The Scheme
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol>
                        <li>These terms and conditions, in conjunction with the privacy policy, are applicable across the entire Tesco Clubcard scheme and any participation is considered as acceptance.  Additional terms and conditions may be in place for optional elements of the scheme, examples of which include, but are not limited to, Christmas Savers, Club Membership, and Clubcard Boost.  Members participating in the optional elements of the scheme will be considered as having accepted the additional terms and conditions.
                        </li>
                        <li>The Clubcard account, card, key fobs, coupons, vouchers and points, in whatever form, are issued by and remain the property of Tesco which may, at any time, terminate the scheme or alter or amend the conditions of operation of the scheme.</li>
                        <li>All members of the scheme must be resident in the UK and aged 18 years or over.</li>
                        <li>Members are only entitled to one Clubcard account each.  Tesco reserves the right to refuse, merge or close additional accounts at any time.</li>
                        <li>Members must register their personal details and keep Tesco informed of any changes.  Tesco cannot be held responsible for any loss of points or vouchers incurred as a result of out of date details.  New accounts that are not registered within two years of first being used and accounts with out of date details that have not been updated for two years will be removed and any points or vouchers forfeited.</li>
                        <li>The Clubcard card, in whatever form, is not transferable, cannot be copied and can only be used by the member who is named and registered for the card.  Clubcard key fobs may be used by anyone who is resident at the same registered address.</li>
                        <li>Clubcard cards, key fobs, coupons and vouchers remain the responsibility of the Clubcard member, as do any security details relating to the account.  Tesco cannot be held responsible for any loss arising from the member failing to ensure the safe&#45;keeping of these items.</li>
                        <li>Tesco may decline to issue, withdraw or cancel Clubcard accounts, cards, key fobs, coupons, vouchers and points, in whatever form, and / or remove a member from the scheme at any time where there is reasonable belief of: 
                          <ol class="alpha">
                            <li>any abuse or attempted abuse of the scheme;</li>
                            <li>any breach or attempted breach of these terms and conditions and / or those relating to the optional elements of the scheme;</li>
                            <li>any behaviour relating to Clubcard or the Tesco Group that involves theft, misconduct, abusive or offensive behaviour, or supplying false or misleading information.</li>
                          </ol>
                        </li>
                        <li>Clubcard cards and key fobs can only be used for purchases from Tesco and promotional partners who are part of the scheme.</li>
                        <li>The scheme is only for personal and consumer use.  Clubcard cards and key fobs cannot be used for any business transaction or purpose.</li>
                        <li>Clubcard accounts, cards, key fobs, coupons, points and vouchers cannot be transferred, bought, sold or in any way traded.</li>
                        <li>Two members who live at and have accounts registered at the same address may join their accounts together. When either member provides or updates information relating to the joint account they must have the consent of the other member to do so and for us to use this information in accordance with the terms and conditions of the scheme. Tesco cannot be held responsible for any loss to either account member as a result of the other account member providing or updating information relating to the joint account. Joint accounts may be split into single accounts by either member and any points accrued will be divided based on the Clubcard card or key fobs with which they were originally earned. Tesco will take no responsibility for the allocation of vouchers that have already been issued.</li>
                        <li>Members may be able to express a preference for their statement, and where we have their consent other Clubcard mailings, to be sent to their registered e-mail address or mobile phone number. We will endeavour to respect this preference but reserve the right to send these to the member's registered postal address without prior notification to the member. This may be necessary for business or policy reasons or where there are problems with the registered email address or mobile phone number provided by the member.</li>       
                        <li>Members can choose to leave the scheme at any time.  By leaving the scheme members forfeit the right to any points or vouchers already accrued or issued.</li>
                        <li>Members who do not collect any points for two years will be removed from the scheme and will need to reapply for new membership should they wish to rejoin.</li>
                        <li>Members may inherit the points or vouchers of a family member who has died by providing a written request informing us of the membership details of the deceased.</li>
                        
                      </ol>
                      <p><a href="http://www.tesco.com/clubcard/contact/">Contact Us</a> </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Points
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="17">
                        <li>Members must present their Clubcard card or key fob at the checkout in order to collect points for a transaction in store.  Members who forget to do this may have their points added manually up to 14 days after the transaction upon production of a valid receipt, providing the receipt belongs to the claiming member and is based on their personal spend.  Points may only be claimed for up to two receipts per day.</li>
                        <li>Members will be required to quote their Clubcard number to collect points on purchases made through any catalogue, phone, partner or online transaction.</li>
                        <li>Points collected from Tesco Bank will be credited to the Clubcard member&#39;s account and converted separately to points collected elsewhere.</li>
                        <li>Points collected on additional cards or key fobs linked to the main Clubcard member&#39;s account will be credited to that account.</li>
                        <li>To be awarded points, members must spend above a certain amount on qualifying products in a single transaction.  The amount of points awarded may change and will vary depending on the products bought, the amount spent and where the transaction takes place.  Full details of how points are awarded can be found in the <a href="">Collect &amp; Spend </a> section of our web site.</li>
                        <li>Where points can be collected with partners further terms and conditions may apply.</li>
                        <li>Points will not be awarded for non&#45;qualifying products, including tobacco or tobacco related products, lottery, stamps, prescription medicines, infant formulae milk, Tesco Gift Cards, saving stamps, in store concessions, Paypoint payments or for purchases of some Tesco Bank products.  Other products may also be excluded from the scheme at the discretion of Tesco. </li>
                        <li>Members can earn a maximum of 30,000 points in any one collection period.</li>
                        <li>Tesco may set a limit on the number of times points may be awarded for promotional items on which additional points are available.  Individual promotions may have different limits as communicated in their purchase conditions.  Any participation in promotional offers above and beyond what could objectively be considered consumer behaviour or personal use may be considered as abuse of the scheme.</li>
                        <li>Tesco is entitled to remove points at any time if products are returned for any reason and a full or partial refund of the purchase price is given.  This also applies to the exchange of products, unless the exchange is for products with an equivalent points value.</li>
                        <li>Points awarded at the time of the transaction or vouchers already issued may be removed or cancelled if Tesco determines that the points were collected in breach of these terms and conditions or were awarded in error.  For the avoidance of doubt, any advice or actions of our staff that is contrary to these terms and conditions will not have the effect of changing these terms and conditions.</li>
                        <li>Points have no value until converted into vouchers at the end of the collection period.  The current conversion value of points is one point equals one penny.</li>
                        <li>Tesco is under no obligation to award Clubcard points for any reason outside of qualifying transactions.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Vouchers
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="30">
                        <li>Clubcard vouchers will be sent with a statement to members who have accumulated a combined total above the qualifying threshold by the end of each collection period.  The current qualifying threshold is 150 points.</li>
                        <li>The value of Clubcard vouchers given by Tesco and Tesco Bank will be based on the number of points that a member has collected by the end of the last day of a collection period.  Collection periods may vary.</li>
                        <li>Points that cannot be converted into Clubcard vouchers because they are below the qualifying threshold or points that remain following conversion will be &#39;carried forward&#39; as the starting balance(s) for the next collection period. &#39;Carried forward&#39; points will expire after two years if the account has not been used within this period.</li>
                        <li>Clubcard vouchers are valid for two years from date of issue and are accompanied by an expiry date, beyond which they cannot be used or reissued.  Vouchers that are lost or mislaid may be reissued with the original expiry date, providing they have not previously been redeemed.  Additional terms and conditions may be found on the back of the vouchers.</li> 
                        <li>Vouchers can be used once at their face value, in store, on Tesco fuel, at the Tesco direct desk, online at tesco.com/groceries or tesco.com/direct or for selected Tesco Bank products only. Alternatively, vouchers can be exchanged for a Clubcard Boost token. </li>
                        <li>Vouchers are the property of Tesco Stores Limited and have no cash value. They are not for resale / publication and valid in the UK and IOM only. Defaced / copied vouchers will not be accepted. Valid for use only by the recipient, age restrictions apply. Excludes tobacco, Esso fuels, lottery, bureau de change, prescriptions, E-top up, infant formula milk, clothing and entertainment websites, in-store cafes and the Tesco Outlet eBay shop.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  General
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="36">
                        <li>The promoter of Tesco Clubcard is Tesco Stores Limited, Tesco House, PO Box 18, Delamare Road, Cheshunt, Hertfordshire, EN8 9SL.</li>
                        <li>These terms and conditions replace all previous versions, are correct as of May 2012 and shall be governed by and construed in accordance with the laws of England, and any disputes will be decided only by the English courts.  Tesco reserves the right to change these, at any time, on reasonable notice for legal, regulatory, business or policy reasons.  Members who continue to participate in the scheme following such a change will be considered to have accepted the updated terms and conditions.</li>
                        <li>A person who is not a party to these terms and conditions shall have no right under the Contract (Rights of Third Parties) Act 1999 to enforce any term of these terms and conditions, but this shall not affect any right or remedy of a third party which exists or is available apart from that Act.</li>
                        <li>Due to printing lead times, the terms and conditions in store may not reflect the most recent changes.  These are the most up to date terms and conditions.</li>
                        <li>Where indicated, further information can be found online on our <a href="">Terms and Conditions</a> page or by calling Clubcard customer services on <strong>0800 59 16 88</strong>.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="primary-content-group">
        <h2 class="primary-content-heading">
          Print at home voucher
        </h2>
        <div class="primary-content-body">
          <div class="primary-content-inner">
            <div class="secondary-content" id="sec2">
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Customer printed Clubcard vouchers
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ul>
                          <li><strong>Please ensure your Clubcard vouchers have printed clearly on white paper, before taking them into store. Unfortunately, smudged or unclear barcodes are unable to be scanned at the till. This voucher can be used once at its face value, in store, on Tesco fuel, at the Tesco direct desk, online at tesco.com/groceries or tesco.com/direct or for selected Tesco Bank products only. Alternatively, this voucher can be exchanged for a Clubcard Boost token. Terms and conditions apply,please contact the Clubcard helpline on 0800 59 16 88 or visit tesco.com for further details.</strong></li>
                          <li>Vouchers are the property of Tesco Stores Limited and have no cash value. They are not for resale / publication and valid in the UK and IOM only. Defaced / copied vouchers will not be accepted. Valid for use only by the recipient, age restrictions apply. Excludes tobacco,  lottery, bureau de change, prescriptions, E-top up, infant formula milk, clothing and entertainment websites and the Tesco Outlet eBay shop.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Customer printed Clubcard Christmas Saver top-up vouchers
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ul>
                        <li><strong>Please ensure your Clubcard vouchers have printed clearly on white paper, before taking them into store. Unfortunately, smudged or unclear barcodes are unable to be scanned at the till. This voucher can be used once at its face value, in store, on Tesco fuel or at the Tesco direct desk. Online at Tesco.com/groceries or Tesco direct or for selected Tesco Bank products. Terms and conditions apply, contact the Clubcard helpline or see online at www.tesco.com for further details. This voucher cannot be exchanged for Clubcard Boost.</strong></li>
                        <li>Vouchers are the property of Tesco Stores Limited and have no cash value. They are not for resale / publication and valid in the UK and IOM only. Defaced / copied vouchers will not be accepted. Valid for use only by the recipient, age restrictions apply. Excludes tobacco,  lottery, bureau de change, prescriptions, E-top up, infant formula milk, clothing and entertainment websites and the Tesco Outlet eBay shop.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Customer printed Clubcard Christmas Saver bonus vouchers
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ul>
                        <li><strong>Please ensure your Clubcard vouchers have printed clearly on white paper, before taking them into store. Unfortunately, smudged or unclear barcodes are unable to be scanned at the till. This voucher can be used once at its face value, in store, on Tesco fuel or at the Tesco direct desk. Online at Tesco.com/groceries or Tesco direct or for selected Tesco Bank products. Terms and conditions apply, contact the Clubcard helpline or see online at www.tesco.com for further details. This voucher cannot be exchanged for Clubcard Boost.</strong></li>
                        <li>Vouchers are the property of Tesco Stores Limited and have no cash value. They are not for resale / publication and valid in the UK and IOM only. Defaced / copied vouchers will not be accepted. Valid for use only by the recipient, age restrictions apply. Excludes tobacco,  lottery, bureau de change, prescriptions, E-top up, infant formula milk, clothing and entertainment websites and the Tesco Outlet eBay shop.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Customer printed Clubcard Winners vouchers
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ul>
                        <li><strong>Please ensure your Clubcard vouchers have printed clearly on white paper, before taking them into store. Unfortunately, smudged or unclear barcodes are unable to be scanned at the till. This voucher can be used once at its face value, in store, on Tesco fuel or at the Tesco direct desk. Online at Tesco.com/groceries or Tesco direct or for selected Tesco Bank products. Terms and conditions apply, contact the Clubcard helpline or see online at www.tesco.com for further details. This voucher cannot be exchanged for Clubcard Boost.</strong></li>
                        <li>Vouchers are the property of Tesco Stores Limited and have no cash value. They are not for resale / publication and valid in the UK and IOM only. Defaced / copied vouchers will not be accepted. Valid for use only by the recipient, age restrictions apply. Excludes tobacco,  lottery, bureau de change, prescriptions, E-top up, infant formula milk, clothing and entertainment websites and the Tesco Outlet eBay shop.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="primary-content-group">
        <h2 class="primary-content-heading">
          Coupons
        </h2>
        <div class="primary-content-body">
          <div class="primary-content-inner">
            <div class="content-container">

              <p>In addition to the following, please also refer to your coupon as individual T&amp;C's may apply.
              These terms and conditions are in addition to the Clubcard Terms and Conditions</p>
              <ul>
                  <li>Points from extra points coupons will be added to your next statement.</li>
                  <li>Coupons can only be redeemed once and must be redeemed by the person to whom they were issued, alongside the corresponding Clubcard.</li>
                  <li>Clubcard coupons have no cash redemption value, are not to be transferred, bought, sold or in any way traded or published, and are valid in the UK and IOM only. </li>
                  <li>Copied, damaged or defaced coupons will not be accepted.</li>
                  <li>eCoupons can only be redeemed online and only one eCoupon starting X,TDX, GR or GC is valid per transaction.</li>
                  <li>For full Tesco.com eCoupon T&amp;Cs click <a href="http://www.tesco.com/termsandconditions/termsconditionsGeneral.htm#eCoupons">here</a>.</li>
                  <li>Excludes tobacco products, Tesco and  stamps, saving stamps, Cafe, lottery products, prescription medicines, infant formula milk, gift cards, travel money, E-top up, Tesco direct in store desk (unless otherwise stated) - other products may also be excluded at the discretion of Tesco.</li>
                  <li>Age restrictions apply to certain product ranges.</li>
                  <li>Members must be 18 years or over to purchase or receive alcohol.</li>
                  <li>If you have any issues with your coupon call: 0800 591688</li> 
                  <li>If these coupons are damaged or lost and you want to reprint them please log on or register with <a href="https://secure.tesco.com/register/?from=https://secure.tesco.com/clubcard/myaccount/home.aspx">My Clubcard Account</a> at tesco.com/Clubcard</li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="primary-content-group">
        <h2 class="primary-content-heading">
          Clubcard Boost
        </h2>
        <div class="primary-content-body">
          <div class="primary-content-inner">
       

            <div class="secondary-content" id="sec3">
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Boost at Tesco
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <p>Minimum £5 Clubcard voucher value applies.</p>
                      <p>Customers can take part in Clubcard Boost at Tesco by exchanging their Clubcard vouchers online or at most Tesco stores except Express, subject to availability. Clubcard vouchers can be converted into Clubcard Boost at Tesco tokens between 09:00 29th July 2013 to 23:59 31st December 2013 inclusive. Clubcard Boost at Tesco  tokens have no cash value, no change given, are valid for 6 months from the date of issuance and must be used in conjunction with your Clubcard. </p> 
                      <p>If your Clubcard voucher exceeds the amount you wish to use on Clubcard Boost at Tesco, any change will be credited back to your Clubcard account in points and carried over to your next statement. Each Clubcard Boost at Tesco token can be used once only in the selected department, exclusions may apply. Check availability of products first to avoid disappointment. More than one Clubcard Boost at Tesco Token can be used in a single transaction, however the total cost of the products purchased, including any discounts, must equal or exceed the value of the Clubcard Boost at Tesco token/s used. You must pay the remaining balance using a valid payment method. Tokens are valid for a selected department during stated time periods only. Delivery charges may apply. Excludes “Sellers at Tesco” on Tesco direct.</p>
                      <p>Clubcard Boost at Tesco eCoupons for Clothing cannot be used in conjunction with other eCoupons. </p>
                      <p>Clubcard Boost on Tesco direct cannot be used in conjunction with eCoupon codes starting TDX- or TDXR- or redeemed against a “Sellers at Tesco” product.  </p>  
                      <p>If you print your Clubcard Boost at Tesco token/s at home, please ensure your token/s have printed clearly on white paper, before taking them into store. Unfortunately, smudged or unclear barcodes are unable to be scanned at the till.  If you have a damaged token, please visit your nearest participating store for help.  </p>  
                      <p>Clubcard Boost at Tesco tokens cannot be changed back into points or into cash or for another department. </p>
                      <p>Items purchased with a Clubcard Boost at Tesco token can only be exchanged, with a receipt, for goods in the same category to the same value.  Any refunds for purchases made using Clubcard Boost at Tesco token/s will be equivalent to the Clubcard voucher value before it was converted. Your statutory rights are not affected. </p>
                      <p>Tesco reserves the right to withdraw Clubcard Boost at Tesco at any time. </p>
                      <p>Clubcard Terms &amp; Conditions apply. The Clubcard helpline is on 0800 591 688 (Free from BT landlines. Other providers may charge. Calls may be recorded).</p> 
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Partner Boosts
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol>
                        <li>Tesco Freetime Limited (Tesco Freetime) operates this Scheme under the current terms and conditions of the Tesco Stores Limited (Tesco) Clubcard Scheme, which can be found at <a href="">www.tesco.com/clubcard</a>.</li>
                        <li>Out of store Partner Boosts are provided by Tesco Freetime.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>

              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Clubcard Vouchers
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="3">
                        <li>Only valid Clubcard vouchers (those printed with the name of the Clubcard member making the booking received, and which are in Clubcard Statement mailings and entitled ‘voucher’) can be exchanged for a Boost token online. Bookings can only be made by the Clubcard member. Vouchers may be pooled but only by members with accounts registered with Clubcard at the same postal address. Vouchers must be in date and not sold, damaged, defaced, copied, altered or redeemed.</li>
                        <li>Exchanges can only be made in Clubcard vouchers. Payment or part payment in cash is not permitted, unless otherwise stated. Coupons and money-off vouchers will not be accepted and cannot be returned. Tesco Clubcard Christmas Saver Bonus vouchers cannot be redeemed for Clubcard Boost.</li>
                        <li>Only Clubcard vouchers issued in the UK can be exchanged for Clubcard Boost.</li>
                        <li>If posting Clubcard vouchers to Tesco Freetime note the online code or barcode number, denomination and expiry date of each voucher before sending it in. Tesco Freetime does not accept any responsibility for any Clubcard vouchers that are not received. </li>
                        <li>Clubcard vouchers will not be accepted by Partners.</li>
                      </ol>                      
                    </div>
                  </div>
                </div>
              </div>
         
              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Boost Tokens (including emailed codes &amp; "print at home" tokens &amp; barcodes)
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="8">
                        <li>Tokens cannot be used in conjunction with any other discount, offer, scheme or promotion and cannot be exchanged in whole or part for cash.</li>
                        <li>All Partner Boosts are subject to availability and the standard terms and conditions, booking conditions or conditions of carriage of the Partner.</li>
                        <li>Where relevant, no change will be given if the value of the tokens is greater than the cost of the product. However any shortfall can be paid to the Partner by cash or credit/debit card. </li>
                        <li>Boost tokens can only be sent to the postal/email address on the Clubcard account of the Clubcard member, and will be printed with the Clubcard members name and may include their postcode.</li>
                        <li>All tokens can only be used once, unless otherwise stated.</li>
                        <li>Once issued Boost tokens are valid for 6 months, unless otherwise stated.</li>
                        <li>Boost tokens are only valid on new bookings, additional tokens cannot be added to a booking at a later date. </li>
                        <li>All holiday deposits must be paid for in cash, unless the entire holiday is being paid for in Boost tokens.</li>
                        <li>Holidays are booked directly with the relevant tour operator and are not valid on prices shown on the internet.</li>
                        <li>Hotel bookings are booked directly with the relevant operator and are only available against the rate options shown. </li>
                        <li>Tokens will be sent by post within 5 working days of the order being placed online, or within 5 working days of its receipt at Tesco Freetime if the order was posted. Tokens should be received within 1 working day if the order is fulfilled by email. Orders should be made at least 28 days before booking with a Boost partner or visiting an attraction.</li>
                        <li>Unused, expired and redeemed reward tokens issued after 13th August 2012 cannot be refunded, exchanged or returned. This does not affect your statutory rights.</li>
                        <li>Boost tokens cannot be transferred, bought, sold or in any way traded. They cannot be exchanged or reissued. Details can be found on the reverse of the tokens or at <a href="">www.tesco.com/clubcard/boost/</a></li>
                        <li>To allow for postal delays, Tesco Freetime will not investigate where tokens have failed to arrive, until at least 14 days after dispatch date. Tesco Freetime will not investigate where Tesco Freetime have not been advised that the tokens have not been delivered and the validity dates of the tokens have expired.</li>
                        <li>Tesco Freetime does not accept any responsibility for lost or stolen Boost tokens.</li>
                        <li>Tesco Freetime reserve the right to claim back any Clubcard vouchers and/or points subsequently earned by the Clubcard member in lieu of any fraudulent claim for lost/stolen Boost tokens.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>

              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Partner
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="24">
                        <li>Tesco Freetime does not accept any responsibility for the loss of Boost tokens between the Clubcard member and partner. </li>
                        <li>Unless otherwise stated, no changes or cancellations are permitted to the partner booking once booked or ordered and no refunds of tokens or re-credits of Clubcard vouchers will be given in these circumstances. No dependent arrangements should be made until the booking is confirmed by the partner.</li>
                        <li>Customers may be asked to produce proof of identification when redeeming their tokens. A passport or photo driving licence is deemed suitable.</li>
                        <li>Tesco and Tesco Freetime shall not be liable for any goods or services provided by the partner or any act or omission of the partner, save as required by law.</li>
                        <li>To the fullest extent permitted by law, Tesco and Tesco Freetime exclude any liability in relation to the Rewards except where caused by Tesco or Tesco Freetime’s negligence. English law applies.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>

              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Avios
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="29">
                        <li>Avios can only be applied to the Avios account of the Clubcard member named on the vouchers.</li>
                        <li>If exchanging Clubcard vouchers for Avios, the order details (including the Clubcard member’s name, address and Clubcard number) will be passed to Avios who aim to apply these to the appropriate account within 28 days. </li>
                        <li>For existing Avios account holders, Avios will be credited to the existing account. Otherwise a new account will be opened in the name of the Clubcard member named on the vouchers. If exchanging Clubcard vouchers for Avios Auto Opt in, your Clubcard points will be automatically converted into Avios on each Clubcard statement. </li>
                        <li>The minimum transaction value in Clubcard vouchers is £2.50, Clubcard vouchers are exchanged in denominations of 50p. Once Clubcard vouchers have been converted into Avios the process cannot be reversed.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>

              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  Virgin Atlantic Flying Club
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="33">
                        <li>You must already be a Flying Club member to exchange your Clubcard vouchers for Flying Club miles. If you’re not a member, simply visit www. virginatlantic.com/flyingclub to join Flying Club today.</li>
                        <li>If exchanging Clubcard vouchers for Virgin Atlantic Flying Club, the order details (including the Clubcard member’s name, address and Clubcard number) will be passed to Virgin Atlantic Flying Club who aim to apply these to the appropriate account within 28 days. </li>
                        <li>If exchanging Clubcard vouchers for Virgin Atlantic Flying Club Miles Auto Opt in, your Clubcard points will be automatically converted into Flying Club miles on each Clubcard statement.</li>
                        <li>The minimum transaction value in Clubcard vouchers is £2.50, Clubcard vouchers are exchanged in denominations of 50p. Once Clubcard vouchers have been converted into Flying Club miles the process cannot be reversed.</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>

              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  NEW Clubcard Perks
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">

                        <ol start="37">
                          <li>Clubcard Extra Perks are provided by 3rd party partners of the Clubcard scheme. To the fullest extent permitted by law, Tesco and Tesco Freetime exclude any liability in relation to the Extra Perks, except where caused by Tesco or Tesco Freetime’s negligence. English law applies.</li>
                          <li>Clubcard Extra Perks cannot be used in conjunction with Clubcard Partner Boost products or any other discount, offer, scheme or promotion and cannot be exchanged in whole or part for cash</li>
                          <li>Clubcard Extra Perks eCodes cannot be used in conjunction with any other discount, offer, scheme or promotion and cannot be exchanged in whole or part for cash. </li>
                          <li>All Clubcard Extra Perk eCodes can only be used once, unless otherwise stated. </li>
                          <li>Clubcard Extra Perk eCodes cannot be transferred, bought, sold or in any way traded. They cannot be exchanged.  If reissue is required, please repeat the process for requesting that Clubcard Extra Perk at <a href="">http://www.tesco.com/clubcard/perks/partners/</a></li>
                          <li>Tesco Freetime does not accept any responsibility for lost or stolen Clubcard Extra Perk eCodes.</li>
                        </ol>
                    </div>
                  </div>
                </div>
              </div>

              <div class="secondary-content-group">
                <h2 class="secondary-content-heading">
                  General
                </h2>
                <div class="secondary-content-body">
                  <div class="secondary-content-inner">
                    <div class="content-container">
                      <ol start="43">
                        <li>Tesco Freetime may refuse (at all times acting reasonably) any Clubcard Boost or Clubcard perk   order where there is evidence of abuse or attempted abuse of the Clubcard Scheme or where the customer has not acted as a consumer. To avoid any doubt, abuse includes, but is not limited to; a. having Clubcard accounts in fictitious names, b. having multiple Clubcard accounts or multiple addresses, multiple memberships of a Clubcard club, c. claiming points not earned from their own transactions, d. exceeding the maximum points earned limit, e. making multiple purchases that breach the terms and conditions associated with the product offer, f. the returning of goods for a refund and keeping the Clubcard points earned from the purchase, g. the breaching of any terms of the Clubcard scheme, h. redeeming Clubcard vouchers for the sole purpose of extending the life of the Clubcard points by submitting vouchers where the value of the Boost product would give a refund of more than 50% in points change.</li>
                        <li>Where the order involves an electronic redemption/fulfilment with any of our Partners, the Clubcard member agrees that we will pass their name, address/email address and Clubcard number so that the Partner can fulfil their order. Partners will use the Clubcard member’s information to administer the booking and, to help them with any further orders. Where appropriate, Partners may use the Clubcard members information details in accordance with their privacy policy.</li>
                        <li>All prices and Clubcard voucher exchange rates and products and services are correct at time of going to print but may be amended at any time. Taxes and other duties, when they are applied, may be subject to alteration without notice. </li>
                        <li>Partners and services provided may be withdrawn or altered without prior notice. </li>
                        <li>For foreign travel, the Clubcard member is responsible for ensuring all appropriate documentation including, but not limited to, passport, visa and health requirements are valid for the country of their destination before placing their order.</li>
                        <li>These terms and conditions do not affect the Clubcard member’s statutory rights. Calls may be recorded for training purposes. The Tesco refund policy does not apply to Clubcard Boost purchases.</li>
                        <li>These terms and conditions replace all previous versions and are correct as of January 2013. They are governed by and construed in accordance with the laws of England, and any disputes will be decided only by the English courts. Tesco Freetime reserves the right to change these at any time, on reasonable notice, for legal, regulatory, business or policy reasons. Clubcard members who continue to participate in Rewards following such a change will be considered to have accepted the updated terms and conditions.</li>
                        <li>A person who is not a party to these terms and conditions shall have no right under the Contract (Rights of Third Parties) Act 1999 to enforce any term of these terms and conditions, but this shall not affect any right or remedy of a third party which exists or is available apart from that Act.</li>
                        <li>The most recent terms and conditions can be found here: <a href="">www.tesco.com/clubcard/terms/</a>.</li>
                        <li>Due to printing lead times, the terms and conditions printed in the Rewards or Boost brochures may be different to those shown online. In such circumstances, those listed online replace all previous versions.</li>
                      </ol>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include _footer %>
<% include _foot %>