.pagination{
  margin:0;
}

.bottom-pagination {
  float: none;
    margin: 0 $padding 10px $padding;
    background: $medium-bg;
    padding: $padding/4;

  .paging-display {
    line-height: 14px;

    p {
        margin-bottom: 0;
        padding: 0 $padding/4;
        line-height: 30px;
    }

    ul {margin-left: $padding/4;}
  }
}