<% var title = 'Tesco Clubcard Responsive Wireframes' %>
<% var body_class = 'style-guide' %>
<% include ../templates/_head %>
<% include ../templates/_style_guide_nav %>

<div class="container">
  <div class="heading-container">
    <div class="heading-container-text">
      <h1>Prototype</h1>
    </div>
  </div>

  <div class="content-container">
    <ul>
      <li>
        <p><a href="../templates/homepage.html">Homepage</a></p>
      </li>
      <li>
        <p><a href="../templates/product-listing.html">Product listing page</a></p>
      </li>
      <li>
        <p><a href="../templates/product-description.html">Product description page</a></p>
      </li>
      <li>
        <p><a href="../templates/checkout.html">Checkout</a></p>
      </li>
    </ul>
  </div>
</div>

<% include ../templates/_foot %>