.banner-txt{
  padding:20px 0;

  .banner-heading h2 {
      @extend %large-heading;
      line-height: 1;
  }

  .banner-strapline p {
    font-size: 16px;
    line-height: 22px;
  }

  .banner-action {
    margin: 15px auto $small-padding auto;
  }

  .banner-search-form{
    background: none;
  }

  .search-form input[type="text"] {
    margin-right: 0;
    width:155px;
  }
}
.banner-img{
  overflow:hidden;
}

.banner-icon{
  background: none;
  padding-top:20px;
}