<div class="checkout-heading">
  <h2>Your delivery details</h2>
</div>
<div class="delivery-item">
  <div class="delivery-label"><p>Postal items will be sent to:</p></div>
  <div class="delivery-details">
    <p>Mr Aviral Gupta</p>
    <p>70 Rosslyn Ave</p>
    <p>Romford, RM3 0DJ</p>
  </div>
  <div class="delivery-change-action">
    <p><a href="" class="edit-address">Edit my account address</a></p>
  </div>
</div>

<div class="delivery-item">
  <div class="delivery-label"><p>Email items will be sent to:</p></div>
  <div class="delivery-details"><p>agupta@hotmail.com</p></div>
  <div class="delivery-change-action"> <p><a href="" class="edit-email">Edit my account email</a></p></div>
</div>
