<div class="control-group choose_address">
  <label>Choose an address</label>
  <div class="controls">
    <select id="selectAdress">
      <option selected="selected">Select your address</option>
      <option data-house="66" data-street="Rosslyn Ave" data-town="Romford">66 Rosslyn Ave, Romford, RM3 0DJ</option>
      <option data-house="67" data-street="Rosslyn Ave" data-town="Romford">67 Rosslyn Ave, Romford, RM3 0DJ</option>
      <option data-house="68" data-street="Rosslyn Ave" data-town="Romford">68 Rosslyn Ave, Romford, RM3 0DJ</option>
      <option data-house="69" data-street="Rosslyn Ave" data-town="Romford">69 Rosslyn Ave, Romford, RM3 0DJ</option>
      <option data-house="70" data-street="Rosslyn Ave" data-town="Romford">70 Rosslyn Ave, Romford, RM3 0DJ</option>
    </select>
  </div>
</div>
