<% var bing_key = 'AhpCRJmtdXCWiiS8lZFuoUbkZgk8Mn-hFuhFfomrXmARkYT-VflqQA79Ly92eu0C' %>
<div class="map-container">
  <div id="location-map" class='location-map' data-origin-latitude="51.517433" data-origin-longitude="-0.140674">
    <noscript>
      <img src="http://dev.virtualearth.net/REST/v1/Imagery/Map/Road?pushpin=51.517433,-0.140674;63&pushpin=51.511732,-0.12327;65;1&pushpin=51.515395,-0.141289;65;2&pushpin=51.51204,-0.139793;65;3&pushpin=51.512086,-0.116857;65;4&pushpin=51.507431,-0.165708;65;5&centerPoint=51.517433,-0.140674&mapSize=640,600&key=<%= bing_key %>" width="640" height="600" alt="Map">
    </noscript>
  </div>
</div>
<div class="map-search-results-container">
  <div class="map-search-result-heading">
    <h2>We found 243 local restaurants</h2>
  </div>
  <div class="map-search-results">
    <ul>
      <li data-latitude="51.496368" data-longitude="-0.176488">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">1</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo" src="../img/content/map-search-placeholder.png" alt="alt text for map listing"/></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 1</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.50425" data-longitude="-0.076278">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">2</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 2</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.501364" data-longitude="-0.14189">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">3</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 3</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.512101" data-longitude="-0.119305">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">4</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 4</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.606075" data-longitude="-0.121995">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">5</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 5</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.511732" data-longitude="-0.12327">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">6</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo" src="../img/content/map-search-placeholder.png" alt="alt text for map listing"/></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 6</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.515395" data-longitude="-0.141289">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">7</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 7</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.51204" data-longitude="-0.139793">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">8</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 8</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.512086" data-longitude="-0.116857">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">9</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 9</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
      <li data-latitude="51.507431" data-longitude="-0.165708">
        <div class="map-result-pin">
          <a href="" class='map-pin'><span class="map-pin-no">10</span></a>
        </div>
        <div class="map-result-img">
          <a href=""><img class="result-logo"  src="../img/content/map-search-placeholder.png" alt="alt text for map listing" /></a>
        </div>
        <div class="map-result-txt">
          <h3><a href="">Name of restaurant 10</a></h3>
          <p class="category-type"><span>Italian</span></p>
          <div class="ratings-display"><span class="rating-link star-4"> 4 stars</span></div>
          <p class='location'>London - City of Westminster</p>
        </div>
        <div class="map-result-proximity">
          <p>0.2 miles</p>
        </div>
        <p class="map-link"><a href="">View this result in maps</a></p>
      </li>
    </ul>
  </div>
  <div class="map-search-pagination">
    <div class="map-search-count">
      <p>1 to 5 of 10</p>
    </div>
    <div class="map-search-pagination-controls">
      <ul>
        <li class='prev'>
          <a href="">Prev</a>
        </li>
        <li class="next">
          <a href="">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>